flows.json
[{"id":"2f263f0.080e7c2","type":"tab","label":"Variables","disabled":false,"info":""},{"id":"4d149fd1.afec5","type":"tab","label":"Start up/Scheduled","disabled":false,"info":""},{"id":"4c9161c6.7a8fe","type":"tab","label":"Form","disabled":false,"info":""},{"id":"eebb6675.799d48","type":"tab","label":"Event Handlers","disabled":false,"info":""},{"id":"59474d53.1b40d4","type":"tab","label":"Logging","disabled":false,"info":""},{"id":"702e3f6b.43278","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"e037ddc.bbf4a2","type":"tab","label":"Encryption","disabled":false,"info":""},{"id":"593fb5af.ec311c","type":"tab","label":"Debugging","disabled":false,"info":""},{"id":"bae968bd.7a3cb8","type":"subflow","name":"subflow - encrypt","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"c61c95b0.05a298"}]}],"out":[{"x":480,"y":60,"wires":[{"id":"f392ddb1.dae4e","port":0},{"id":"c61c95b0.05a298","port":1}]}],"env":[]},{"id":"43717449.df2fbc","type":"subflow","name":"subflow - decrypt","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"8c1bca1e.b71368"}]}],"out":[{"x":480,"y":80,"wires":[{"id":"c2747add.afb318","port":0},{"id":"8c1bca1e.b71368","port":1}]}],"env":[]},{"id":"85b5cbfc.b785c8","type":"subflow","name":"Subflow 1","info":"","in":[{"x":40,"y":80,"wires":[{"id":"6b35b6b7.e4ae98"}]}],"out":[{"x":880,"y":80,"wires":[{"id":"4d9d608.3b016a","port":0}]}]},{"id":"9b97ee84.83a28","type":"mongodb3","z":0,"uri":"mongodb://mongodb:27017/LockManager","name":"LockManager","options":"","parallelism":"-1"},{"id":"1fff74d9.620a6b","type":"ui_group","z":"","name":"Users","tab":"35186fa6.ad202","order":2,"disp":true,"width":"12","collapse":false},{"id":"f81674f9.0542a8","type":"ui_group","z":"","name":"pin","tab":"35186fa6.ad202","order":1,"disp":false,"width":"1"},{"id":"35186fa6.ad202","type":"ui_tab","z":0,"name":"Users","icon":"dashboard","disabled":false,"hidden":false},{"id":"21e39bfe.4a1524","type":"server","z":"4d149fd1.afec5","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"5cd657ab.3e5f48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"M/D/YY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"eb298404.4f0378","type":"ui_spacer","name":"spacer","group":"1fff74d9.620a6b","order":5,"width":"6","height":1},{"id":"a7234526.980c28","type":"ui_spacer","name":"spacer","group":"1fff74d9.620a6b","order":7,"width":1,"height":1},{"id":"71ad4e4d.e8bbc","type":"ui_spacer","name":"spacer","group":"1fff74d9.620a6b","order":9,"width":1,"height":1},{"id":"b911ddaa.22ae6","type":"ui_spacer","name":"spacer","group":"1fff74d9.620a6b","order":13,"width":"6","height":1},{"id":"e1d97e5a.f1add","type":"ui_spacer","name":"spacer","group":"1fff74d9.620a6b","order":19,"width":"3","height":1},{"id":"3d92dfae.1b6f5","type":"ui_spacer","name":"spacer","group":"1fff74d9.620a6b","order":24,"width":"6","height":"5"},{"id":"349447fb.a8b908","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"7fbc5f5e.d45f6","type":"mongodb3","z":0,"uri":"mongodb://mongodb:27017/LockManager","name":"LockManager","options":"","parallelism":"-1"},{"id":"8fa528f9.3ee0b8","type":"comment","z":"4d149fd1.afec5","name":"Process one-time codes","info":"I am deleting these from the LockSlot table and marking \nthe code as disabled in the LockUsers table.","x":120,"y":740,"wires":[]},{"id":"5565cfc0.e68ad","type":"function","z":"4d149fd1.afec5","name":"Build query","func":"msg.payload =  [  \n    { $and: [{ name: msg.user.name }, { onetime: true }] }\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":150,"y":780,"wires":[["eea0da68.d1ff68","d796df4b.54cea"]]},{"id":"eea0da68.d1ff68","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Search for code","collection":"LockManager","operation":"find.toArray","x":320,"y":780,"wires":[["329b8684.ab716a","21f3a735.4bead8"]]},{"id":"21f3a735.4bead8","type":"function","z":"4d149fd1.afec5","name":"Code found","func":"var _ = context.global.lodash;\nvar moment = context.global.moment;\n\nif (!_.isEmpty(msg.payload)) {\n    msg.disabled = msg.payload;\n    msg.payload = {};\n//    msg.payload =  [\n//        { code: msg.user.code },\n//        { $set: { code_enabled: false } },\n//        { upsert: false, returnOriginal: false }\n//    ];\n    node.status({ fill: \"blue\", shape: \"dot\", text: `Disabling ${msg.user.name} at ${moment().format('M/D/YY h:mm a')}` });\n    return msg;\n}\n\nreturn [null, msg];\n","outputs":2,"noerr":0,"x":490,"y":780,"wires":[["9929a8eb.21b828","31a542ff.2e6d3e"],["6617113d.d1b19"]]},{"id":"d97f2e2c.7eea7","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Clear Slot","collection":"LockSlots","operation":"deleteOne","x":1300,"y":780,"wires":[[]]},{"id":"6617113d.d1b19","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":860,"wires":[]},{"id":"2b80bd2a.a63a62","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Disable Code","collection":"LockManager","operation":"findOneAndUpdate","x":1000,"y":780,"wires":[["deef28b2.099fc8","a915b6a9.6fe458"]]},{"id":"ad9b91c0.6a9a9","type":"function","z":"4d149fd1.afec5","name":"Build Query","func":"msg.payload =  [\n    { code: msg.user.code },\n    { $set: { code_enabled: false } },\n    { upsert: false, returnOriginal: false }];\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":780,"wires":[["2b80bd2a.a63a62","64b01d9e.a01bf4"]]},{"id":"deef28b2.099fc8","type":"change","z":"4d149fd1.afec5","name":"Set Slot","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"slot\": msg.slot},{}]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":780,"wires":[["d97f2e2c.7eea7"]]},{"id":"329b8684.ab716a","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":740,"wires":[]},{"id":"9929a8eb.21b828","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":740,"wires":[]},{"id":"64b01d9e.a01bf4","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":740,"wires":[]},{"id":"a915b6a9.6fe458","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1150,"y":740,"wires":[]},{"id":"372053f5.d41c1c","type":"link in","z":"4d149fd1.afec5","name":"Dashboard - Lock Users - Process one-time code (out)","links":["18af61.544c50a"],"x":35,"y":780,"wires":[["5565cfc0.e68ad","800060ee.083d3"]]},{"id":"ac735915.a7d0c8","type":"comment","z":"4d149fd1.afec5","name":"### START-UP ACTIONS ###","info":"","x":140,"y":40,"wires":[]},{"id":"ef24beba.d972b","type":"comment","z":"4d149fd1.afec5","name":"### NOTES ###","info":"My lock slots are out of sync with my table so I need\nto delete and rebuild both. I think I have it removing\ninvalid codes but I need to figure out how to put\ncodes into the lock when I've removed codes 2, 4, 5 \nwhile codes 1, 3, 6, 7 are still present. I'd rather\nnot reshuffle. I could also move to static slots.","x":320,"y":4980,"wires":[]},{"id":"42f02ddb.5c3f14","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":40,"wires":[]},{"id":"fc91070a.f4d058","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":140,"wires":[]},{"id":"546805d4.be780c","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":200,"wires":[]},{"id":"1a99bb65.a741e5","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":260,"wires":[]},{"id":"24ef80d5.1742b","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":320,"wires":[]},{"id":"4c5d80e5.0aeb4","type":"function","z":"eebb6675.799d48","name":"","func":"node.log(\"**************************\");\nnode.log(\"lock\");\nnode.log(JSON.stringify(msg, null, 2));\nnode.log(JSON.stringify(msg.payload));\nnode.log(\"**************************\");\nnode.log(\"\");\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["42f02ddb.5c3f14","a43c5aa3.d64f28"]]},{"id":"a903e783.baa408","type":"function","z":"eebb6675.799d48","name":"","func":"node.log(\"**************************\");\nnode.log(\"deadbolt\");\nnode.log(JSON.stringify(msg, null, 2));\nnode.log(JSON.stringify(msg.payload));\nnode.log(\"**************************\");\nnode.log(\"\");\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["fc91070a.f4d058"]]},{"id":"ec48e612.419ef8","type":"function","z":"eebb6675.799d48","name":"","func":"node.log(\"**************************\");\nnode.log(\"alarm level\");\nnode.log(JSON.stringify(msg, null, 2));\nnode.log(JSON.stringify(msg.payload));\nnode.log(\"**************************\");\nnode.log(\"\");\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["546805d4.be780c"]]},{"id":"5e9b9c38.42e2d4","type":"function","z":"eebb6675.799d48","name":"","func":"node.log(\"**************************\");\nnode.log(\"alarm type\");\nnode.log(JSON.stringify(msg, null, 2));\nnode.log(JSON.stringify(msg.payload));\nnode.log(\"**************************\");\nnode.log(\"\");\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["1a99bb65.a741e5"]]},{"id":"cf114afb.b5c1f8","type":"function","z":"eebb6675.799d48","name":"","func":"node.log(\"**************************\");\nnode.log(\"lock batteries\");\nnode.log(JSON.stringify(msg, null, 2));\nnode.log(JSON.stringify(msg.payload));\nnode.log(\"**************************\");\nnode.log(\"\");\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":320,"wires":[["24ef80d5.1742b"]]},{"id":"3a902f56.fad2a","type":"comment","z":"eebb6675.799d48","name":"### LOCK HANDLERS ###","info":"","x":140,"y":40,"wires":[]},{"id":"a43c5aa3.d64f28","type":"switch","z":"eebb6675.799d48","name":"Lock/Unlock","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"locked","vt":"str"},{"t":"eq","v":"unlocked","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":410,"y":80,"wires":[["6c3fa7e5.bafb28"],["6c3fa7e5.bafb28"],[]]},{"id":"6c3fa7e5.bafb28","type":"function","z":"eebb6675.799d48","name":"Get slot user","func":"var status = msg.data.new_state.attributes.lock_status;\nif (status.indexOf('user') == -1) {\n    // not a user code\n    msg.payload = {\n        state: `Door ${msg.payload}`,\n        type: msg.data.new_state.attributes.notification,\n        status: `Door ${msg.data.new_state.attributes.lock_status}`,\n        time: msg.data.new_state.last_updated\n    };\n    return [null, msg];\n}\n\nconst slots = global.get(\"slots\");\nvar slot = Number(status.substring(status.lastIndexOf(' ') + 1));\n\nconst user = slots.find(u => u.slot === slot);\nif (user === undefined)\n    return [null, null, { payload: `Door was opened with a code that doesn't have a matching slot ${slot}. Good chance the lock.clear_usercode didn't work which means HA has probably been updated and I need to run the update zwave script` }];\n    \n\nvar m = {};\nm.user = user;\nm.slot = slot;\nm.slots = slots;\nm.status = msg.payload,\nm.payload = {\n    state: `Door ${msg.payload}`,\n    type: msg.data.new_state.attributes.notification,\n    og_status: msg.data.new_state.attributes.lock_status,\n    status: `${status.substring(0, status.indexOf('user') -  4)} by ${user.name}`,\n    time: msg.data.new_state.last_updated\n};\n\nreturn m;","outputs":3,"noerr":0,"x":610,"y":80,"wires":[["dc0d6228.41e98","de9d3dfb.b43c4","41e93222.8a3e9c"],["b12a4d6b.5b059","41e93222.8a3e9c","e536416a.f931"],["cfd9716f.820c3","1e222539.05dcfb"]]},{"id":"dc0d6228.41e98","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":40,"wires":[]},{"id":"18af61.544c50a","type":"link out","z":"eebb6675.799d48","name":"Call Process one-time code","links":["372053f5.d41c1c"],"x":1095,"y":80,"wires":[]},{"id":"234cefff.8f4c8","type":"switch","z":"eebb6675.799d48","name":"Unlock?","property":"status","propertyType":"msg","rules":[{"t":"eq","v":"unlocked","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":80,"wires":[["18af61.544c50a","c95bf2c1.da2a1"]]},{"id":"de9d3dfb.b43c4","type":"mongodb3 in","z":"eebb6675.799d48","service":"_ext_","configNode":"9b97ee84.83a28","name":"Log Locking","collection":"LockLog","operation":"insertOne","x":810,"y":80,"wires":[["234cefff.8f4c8","38bddd8b.a024c2"]]},{"id":"38bddd8b.a024c2","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":40,"wires":[]},{"id":"c95bf2c1.da2a1","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":120,"wires":[]},{"id":"b12a4d6b.5b059","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":220,"wires":[]},{"id":"cfd9716f.820c3","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":260,"wires":[]},{"id":"98a21bcd.098ee8","type":"server-state-changed","z":"eebb6675.799d48","name":"lock","server":"21e39bfe.4a1524","version":1,"entityidfilter":"lock.lock_front_door_lock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":80,"wires":[["4c5d80e5.0aeb4"]]},{"id":"510be60d.904278","type":"server-state-changed","z":"eebb6675.799d48","name":"deadbolt","server":"21e39bfe.4a1524","version":1,"entityidfilter":"zwave.lock_front_door_deadbolt","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":140,"wires":[["a903e783.baa408"]]},{"id":"eba89a44.165de8","type":"server-state-changed","z":"eebb6675.799d48","name":"alarm level","server":"21e39bfe.4a1524","version":1,"entityidfilter":"sensor.lock_front_door_deadbolt_alarm_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":200,"wires":[["ec48e612.419ef8"]]},{"id":"c43adefd.6fc4d","type":"server-state-changed","z":"eebb6675.799d48","name":"alarm type","server":"21e39bfe.4a1524","version":1,"entityidfilter":"sensor.lock_front_door_deadbolt_alarm_type","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":260,"wires":[["5e9b9c38.42e2d4"]]},{"id":"f256442.5f489b8","type":"server-state-changed","z":"eebb6675.799d48","name":"lock batteries","server":"21e39bfe.4a1524","version":1,"entityidfilter":"sensor.door_lock_batteries_front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":320,"wires":[["cf114afb.b5c1f8"]]},{"id":"b4a18fa5.1bbb4","type":"ui_dropdown","z":"4c9161c6.7a8fe","name":"Users Dropdown","label":"User","tooltip":"","place":"Choose...","group":"1fff74d9.620a6b","order":1,"width":"6","height":"1","passthru":true,"options":[],"payload":"","topic":"selected_user","x":310,"y":120,"wires":[["a8d21a16.d8be18"]]},{"id":"ac2159.44302ea8","type":"function","z":"4c9161c6.7a8fe","name":"Populate","func":"global.set('user_type', 'Updated');\nvar rec = msg.payload;\nflow.set(\"name\", rec.name)\n\nreturn rec","outputs":1,"noerr":0,"x":1220,"y":120,"wires":[["36b1b3a5.b1127c","e62d0872.3a8f88"]]},{"id":"b7ba8e07.b73b6","type":"function","z":"4c9161c6.7a8fe","name":"Build Days","func":"var selected = msg.days || [];\nflow.set(\"days\", msg.days);\nvar days = [{\"title\":\"Sunday\"},{\"title\":\"Monday\"},{\"title\":\"Tuesday\"},{\"title\":\"Wednesday\"},{\"title\":\"Thursday\"},{\"title\":\"Friday\"},{\"title\":\"Saturday\"}];\ndays.forEach(function(day) {\n    if (selected.indexOf(day.title) > -1)\n        day.isChecked = true;\n    else\n        day.isChecked = false;\n});\n\nmsg.enabled = flow.get(\"schedule\");\nmsg.payload = days;\nmsg.topic = \"Day\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":270,"y":1160,"wires":[["76e00f84.7716e"]]},{"id":"76e00f84.7716e","type":"ui_list","z":"4c9161c6.7a8fe","group":"1fff74d9.620a6b","name":"Days","order":21,"width":"6","height":"7","lineType":"one","actionType":"check","allowHTML":false,"x":630,"y":1160,"wires":[["4ccd2f3e.479f5"]]},{"id":"e98eac51.bf0c1","type":"ui_text","z":"4c9161c6.7a8fe","group":"1fff74d9.620a6b","order":2,"width":"2","height":"1","name":"New User Label","label":"or new","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":180,"wires":[]},{"id":"9019181f.5fcf68","type":"ui_text_input","z":"4c9161c6.7a8fe","name":"New User","label":"Name","tooltip":"","group":"1fff74d9.620a6b","order":3,"width":"4","height":"1","passthru":true,"mode":"text","delay":"0","topic":"new_user","x":320,"y":220,"wires":[["a8d21a16.d8be18"]]},{"id":"2ab97aa7.332a86","type":"ui_switch","z":"4c9161c6.7a8fe","name":"Restrict Hours?","label":"Restrict Hours?","tooltip":"","group":"1fff74d9.620a6b","order":20,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":1280,"wires":[["dd8449df.d450b8"]]},{"id":"8203ae71.c51f7","type":"ui_text_input","z":"4c9161c6.7a8fe","name":"","label":"Start Time","tooltip":"","group":"1fff74d9.620a6b","order":22,"width":"6","height":"1","passthru":true,"mode":"time","delay":"0","topic":"","x":1130,"y":1260,"wires":[["2835668f.83b45a"]]},{"id":"8b42fc48.65b6d","type":"ui_text_input","z":"4c9161c6.7a8fe","name":"","label":"EndTime","tooltip":"","group":"1fff74d9.620a6b","order":23,"width":"6","height":"1","passthru":true,"mode":"time","delay":"0","topic":"","x":1120,"y":1300,"wires":[["f70b160c.ff8738"]]},{"id":"b1e88971.a1d6f8","type":"ui_switch","z":"4c9161c6.7a8fe","name":"Schedule","label":"Schedule?","tooltip":"","group":"1fff74d9.620a6b","order":18,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":1080,"wires":[["d9454118.f1ead","888e5b61.f27688"]]},{"id":"e3bb09b2.3f08e8","type":"ui_switch","z":"4c9161c6.7a8fe","name":"OneTime","label":"One-time?","tooltip":"","group":"1fff74d9.620a6b","order":8,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":560,"wires":[["b11b0528.0a95d8"]]},{"id":"7516c24f.15c06c","type":"ui_template","z":"4c9161c6.7a8fe","group":"1fff74d9.620a6b","name":"<hr />","order":11,"width":0,"height":0,"format":"<hr style=\"width:100%\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":760,"wires":[[]]},{"id":"3ceb3f55.50948","type":"ui_template","z":"4c9161c6.7a8fe","group":"1fff74d9.620a6b","name":"<hr />","order":17,"width":0,"height":0,"format":"<hr style=\"width:100%\" />","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":1000,"wires":[[]]},{"id":"cdf108b.38b3af8","type":"ui_switch","z":"4c9161c6.7a8fe","name":"","label":"Enabled?","tooltip":"","group":"1fff74d9.620a6b","order":6,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"enabled","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":440,"wires":[["2d3a06d5.ca058a"]]},{"id":"66e112ae.4369bc","type":"ui_text_input","z":"4c9161c6.7a8fe","name":"","label":"Code","tooltip":"1234","group":"1fff74d9.620a6b","order":4,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"code","x":390,"y":320,"wires":[["647dcf0c.da984"]]},{"id":"fc2e712c.245da","type":"change","z":"4c9161c6.7a8fe","name":"Code","rules":[{"t":"move","p":"code","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":320,"wires":[["66e112ae.4369bc"]]},{"id":"75d1f5de.c7e40c","type":"change","z":"4c9161c6.7a8fe","name":"Enabled","rules":[{"t":"move","p":"code_enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":440,"wires":[["cdf108b.38b3af8"]]},{"id":"4852e784.11fc38","type":"ui_date_picker","z":"4c9161c6.7a8fe","name":"","label":"Start Date","group":"1fff74d9.620a6b","order":15,"width":"6","height":"2","passthru":true,"topic":"date_begin","x":860,"y":860,"wires":[["65b5595d.a95258"]]},{"id":"96108f57.90f72","type":"ui_date_picker","z":"4c9161c6.7a8fe","name":"","label":"End Date","group":"1fff74d9.620a6b","order":16,"width":"6","height":"2","passthru":true,"topic":"date_begin","x":860,"y":900,"wires":[["b5cb2277.59a4c"]]},{"id":"f91dc64e.c66568","type":"ui_switch","z":"4c9161c6.7a8fe","name":"","label":"Set end?","tooltip":"","group":"1fff74d9.620a6b","order":14,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":920,"wires":[["97f66625.b3a748","b463abd9.5d24a8"]]},{"id":"5489ec77.b49bb4","type":"ui_switch","z":"4c9161c6.7a8fe","name":"","label":"Set Start","tooltip":"","group":"1fff74d9.620a6b","order":12,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":400,"y":840,"wires":[["733445db.cfe91c","3dea3ca6.deb2c4"]]},{"id":"68f22b8b.63bca4","type":"change","z":"4c9161c6.7a8fe","name":"Set Start","rules":[{"t":"move","p":"set_start","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":840,"wires":[["5489ec77.b49bb4"]]},{"id":"f667af94.4284e","type":"change","z":"4c9161c6.7a8fe","name":"Set End","rules":[{"t":"move","p":"set_end","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":920,"wires":[["f91dc64e.c66568"]]},{"id":"733445db.cfe91c","type":"change","z":"4c9161c6.7a8fe","name":"Enable/Disable Start Date","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":860,"wires":[[]]},{"id":"97f66625.b3a748","type":"change","z":"4c9161c6.7a8fe","name":"Enable/Disable End Date","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":900,"wires":[["96108f57.90f72"]]},{"id":"36b1b3a5.b1127c","type":"link out","z":"4c9161c6.7a8fe","name":"Populate Fields (out)","links":["9435546b.516d28"],"x":1335,"y":120,"wires":[]},{"id":"9435546b.516d28","type":"link in","z":"4c9161c6.7a8fe","name":"Populate Fields (in)","links":["36b1b3a5.b1127c"],"x":1215,"y":580,"wires":[["dc50876.5318278"]]},{"id":"3782852a.d4e47a","type":"link in","z":"4c9161c6.7a8fe","name":"Clear Name Text (out)","links":["f8b873ef.02f41","21c830e8.125bb"],"x":155,"y":220,"wires":[["9019181f.5fcf68"]]},{"id":"699748.bbc608b8","type":"ui_button","z":"4c9161c6.7a8fe","name":"Reset Button","group":"1fff74d9.620a6b","order":26,"width":"4","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"[]","payloadType":"json","topic":"","x":270,"y":1500,"wires":[["6554b676.444d08"]]},{"id":"a34d3929.a91428","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Users - Reset Button (out)","links":["3d8671cf.76cbee","788cc120.06c6e","580e1fd5.bc0e9"],"x":575,"y":1480,"wires":[]},{"id":"e008ca86.7861d8","type":"comment","z":"4c9161c6.7a8fe","name":"Reset","info":"All reset flows come through here","x":70,"y":1500,"wires":[]},{"id":"bf8883f9.db1b1","type":"ui_button","z":"4c9161c6.7a8fe","name":"Delete Button","group":"1fff74d9.620a6b","order":27,"width":"4","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"[]","payloadType":"json","topic":"","x":280,"y":1580,"wires":[["3fd547f0.664298"]]},{"id":"6554b676.444d08","type":"change","z":"4c9161c6.7a8fe","name":"Enable name fields","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1500,"wires":[["a34d3929.a91428","e2348224.39952"]]},{"id":"3d8671cf.76cbee","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Users - Reset Button (in)","links":["a34d3929.a91428"],"x":155,"y":180,"wires":[["9019181f.5fcf68","b4a18fa5.1bbb4"]]},{"id":"e3af6b77.1751e8","type":"mongodb3 in","z":"4c9161c6.7a8fe","service":"_ext_","configNode":"9b97ee84.83a28","name":"User Exists?","collection":"LockManager","operation":"findOne","x":850,"y":140,"wires":[["334b677d.0162f8"]]},{"id":"ef87d463.6dbc08","type":"function","z":"4c9161c6.7a8fe","name":"Build Query","func":"if (msg.payload === undefined || msg.payload === \"\" || (msg.enabled !== undefined && !msg.enabled))\n    return [null, msg];\n\nmsg.name = msg.payload;\nmsg.payload = {\"name\": msg.payload}\nreturn msg;","outputs":2,"noerr":0,"x":690,"y":140,"wires":[["e3af6b77.1751e8"],[]]},{"id":"3a2d6c6c.d17d34","type":"function","z":"4c9161c6.7a8fe","name":"name exists?","func":"global.set('user_type', 'Created');\nif (msg !== undefined && msg.payload !== undefined && msg.payload[0] !== undefined)\n  return [null, { payload: \"Name exists. Please select a name or enter a new name.\" }];\n\nvar name = msg.name;\nflow.set(\"name\", name);\nmsg = {};\nmsg.name = name;\nmsg.code = \"\";\nmsg.set_start = false;\nmsg.start_date = new Date();\nmsg.set_end = false;\nmsg.end_date = new Date(new Date().setFullYear(new Date().getFullYear() + 1));\nmsg.code_enabled = false;\nmsg.onetime = false;\nmsg.allow_when_home = false;\nmsg.schedule = false;\n\nreturn msg;","outputs":2,"noerr":0,"x":1230,"y":160,"wires":[["36b1b3a5.b1127c"],["bf02fed5.9155"]]},{"id":"bf02fed5.9155","type":"ui_toast","z":"4c9161c6.7a8fe","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Warning","name":"Warning","x":1380,"y":160,"wires":[["ed50f6d1.10fca8"]]},{"id":"ed50f6d1.10fca8","type":"function","z":"4c9161c6.7a8fe","name":"Reset","func":"msg.payload = \"\";\nmsg.enabled = true;\nreturn msg;\n","outputs":1,"noerr":0,"x":1510,"y":160,"wires":[["21c830e8.125bb"]]},{"id":"21c830e8.125bb","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Clear Name Text (out)","links":["3782852a.d4e47a"],"x":1595,"y":160,"wires":[]},{"id":"16bd4db5.351e32","type":"change","z":"4c9161c6.7a8fe","name":"One-time","rules":[{"t":"move","p":"onetime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":560,"wires":[["e3bb09b2.3f08e8"]]},{"id":"dc50876.5318278","type":"change","z":"4c9161c6.7a8fe","name":"Enable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":580,"wires":[["5ff81dee.402714"]]},{"id":"c38e75b2.28ed18","type":"change","z":"4c9161c6.7a8fe","name":"Disable","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"code","pt":"msg","to":"","tot":"str"},{"t":"set","p":"set_start","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"set_end","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"start_date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"end_date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"onetime","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"days","pt":"msg","to":"[]","tot":"bin"},{"t":"set","p":"restrict_hours","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"start_time","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"end_time","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":620,"wires":[["7784d686.3e4058"]]},{"id":"6aa6334a.6facfc","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["e2348224.39952","3ddfb3eb.8b718c","b4c61fc.99b80e"],"x":1215,"y":620,"wires":[["c38e75b2.28ed18"]]},{"id":"5ff81dee.402714","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (out)","links":["df437786.d8eec8","b929ad8.2b79b5","178dfa80.cabc66","d3fc683.39d1998","f40a4a6b.010d18","13c2e9d6.da7046","3285e435.aee33c","205c7017.e567a","2b6c6990.b35f96","d7474773.750ca8","13690cb0.2eabf3"],"x":1435,"y":580,"wires":[]},{"id":"7784d686.3e4058","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (out)","links":["ec765ed2.bbdef","1a0c8771.a0e189","816ea056.6105e","b19348ad.059e98","61272809.382128","e4051efe.eae37","195b63c3.251ebc","ccdf09eb.e32e58","1930d3fd.ee4fbc","ab87ee4a.aa2da","30aade80.040d92"],"x":1435,"y":620,"wires":[]},{"id":"178dfa80.cabc66","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":1140,"wires":[["b7ba8e07.b73b6"]]},{"id":"b929ad8.2b79b5","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":300,"wires":[["fc2e712c.245da"]]},{"id":"df437786.d8eec8","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":420,"wires":[["75d1f5de.c7e40c"]]},{"id":"d3fc683.39d1998","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":540,"wires":[["16bd4db5.351e32"]]},{"id":"f40a4a6b.010d18","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":820,"wires":[["68f22b8b.63bca4"]]},{"id":"13c2e9d6.da7046","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":900,"wires":[["f667af94.4284e"]]},{"id":"b19348ad.059e98","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":1180,"wires":[["b7ba8e07.b73b6"]]},{"id":"1a0c8771.a0e189","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":340,"wires":[["fc2e712c.245da"]]},{"id":"816ea056.6105e","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":460,"wires":[["75d1f5de.c7e40c"]]},{"id":"e4051efe.eae37","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":580,"wires":[["16bd4db5.351e32"]]},{"id":"61272809.382128","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":860,"wires":[["68f22b8b.63bca4"]]},{"id":"ec765ed2.bbdef","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":940,"wires":[["f667af94.4284e"]]},{"id":"334b677d.0162f8","type":"switch","z":"4c9161c6.7a8fe","name":"new or existing user?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"selected_user","vt":"str"},{"t":"eq","v":"new_user","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":140,"wires":[["ac2159.44302ea8"],["3a2d6c6c.d17d34"]]},{"id":"e62d0872.3a8f88","type":"change","z":"4c9161c6.7a8fe","name":"Disable name fields","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":80,"wires":[["be1a4cd7.3a785"]]},{"id":"be1a4cd7.3a785","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable name fields (out)","links":["4e23522c.da521c"],"x":1535,"y":80,"wires":[]},{"id":"4e23522c.da521c","type":"link in","z":"4c9161c6.7a8fe","name":"Disable Name Fields (in)","links":["be1a4cd7.3a785"],"x":155,"y":140,"wires":[["b4a18fa5.1bbb4","9019181f.5fcf68"]]},{"id":"e2348224.39952","type":"link out","z":"4c9161c6.7a8fe","name":"Disable and Reset Form Elements","links":["6aa6334a.6facfc"],"x":575,"y":1520,"wires":[]},{"id":"cac1c6cd.e1c018","type":"ui_button","z":"4c9161c6.7a8fe","name":"Save Button","group":"1fff74d9.620a6b","order":25,"width":"4","height":"1","passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"green","icon":"","payload":"[]","payloadType":"json","topic":"","x":270,"y":1400,"wires":[["d9c9880e.1564c8"]]},{"id":"3285e435.aee33c","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":1540,"wires":[["bf8883f9.db1b1"]]},{"id":"195b63c3.251ebc","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":1580,"wires":[["bf8883f9.db1b1"]]},{"id":"205c7017.e567a","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":1380,"wires":[["cac1c6cd.e1c018"]]},{"id":"ccdf09eb.e32e58","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":1420,"wires":[["cac1c6cd.e1c018"]]},{"id":"2b6c6990.b35f96","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":1260,"wires":[["ec510851.df8f28"]]},{"id":"1930d3fd.ee4fbc","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":1300,"wires":[["ec510851.df8f28"]]},{"id":"dd8449df.d450b8","type":"change","z":"4c9161c6.7a8fe","name":"Enable/Disable Start/End Time","rules":[{"t":"set","p":"restrict_hours","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1280,"wires":[["aef9753e.a95f48","26ccaac9.a32106"]]},{"id":"ec510851.df8f28","type":"change","z":"4c9161c6.7a8fe","name":"Set Restricted","rules":[{"t":"set","p":"payload","pt":"msg","to":"restrict_hours","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1280,"wires":[["2ab97aa7.332a86"]]},{"id":"aef9753e.a95f48","type":"change","z":"4c9161c6.7a8fe","name":"Set Start Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"start_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1260,"wires":[["8203ae71.c51f7"]]},{"id":"26ccaac9.a32106","type":"change","z":"4c9161c6.7a8fe","name":"Set EndTime","rules":[{"t":"set","p":"payload","pt":"msg","to":"end_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1300,"wires":[["8b42fc48.65b6d"]]},{"id":"370b6d7f.46e1c2","type":"ui_switch","z":"4c9161c6.7a8fe","name":"Allow When Home","label":"Allow when home?","tooltip":"","group":"1fff74d9.620a6b","order":10,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":490,"y":680,"wires":[["ffccae8.859765"]]},{"id":"59ea3491.020d5c","type":"change","z":"4c9161c6.7a8fe","name":"Allow when home","rules":[{"t":"move","p":"allow_when_home","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":680,"wires":[["370b6d7f.46e1c2"]]},{"id":"d7474773.750ca8","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":660,"wires":[["59ea3491.020d5c"]]},{"id":"ab87ee4a.aa2da","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":700,"wires":[["59ea3491.020d5c"]]},{"id":"cf1f8567.ef0498","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":140,"wires":[]},{"id":"b4faf5a1.105ee8","type":"comment","z":"4c9161c6.7a8fe","name":"Reset","info":"All reset flows come through here","x":70,"y":180,"wires":[]},{"id":"c2952b73.1e37a8","type":"comment","z":"4c9161c6.7a8fe","name":"Clear","info":"All reset flows come through here","x":70,"y":220,"wires":[]},{"id":"c9dd7f7f.9b57d","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Load Names (in)","links":["853d5d00.80e64","9ed8267.040fed8"],"x":155,"y":100,"wires":[["b4a18fa5.1bbb4"]]},{"id":"2a142443.8ed78c","type":"comment","z":"4c9161c6.7a8fe","name":"Names","info":"All reset flows come through here","x":70,"y":100,"wires":[]},{"id":"e0975dc.72b49a","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":300,"wires":[]},{"id":"584722f9.5c7bac","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":340,"wires":[]},{"id":"1ce62af.fe6f0d5","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":420,"wires":[]},{"id":"bc3e7bcb.b1f038","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":460,"wires":[]},{"id":"422f6e00.7c2524","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":540,"wires":[]},{"id":"a00a72bc.962cb","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":580,"wires":[]},{"id":"3cd20fbe.b1f17","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":660,"wires":[]},{"id":"a2c1d07c.91046","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":700,"wires":[]},{"id":"9028901c.e5d96","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":820,"wires":[]},{"id":"463a64ea.60414c","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":860,"wires":[]},{"id":"5ee9d512.97ac1c","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":900,"wires":[]},{"id":"de8c918c.dfcb8","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":940,"wires":[]},{"id":"a2985646.580d58","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":1140,"wires":[]},{"id":"f5cb7713.c95278","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":1180,"wires":[]},{"id":"3a848aa.f2dc876","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":1260,"wires":[]},{"id":"10f7e3ce.18569c","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":1300,"wires":[]},{"id":"38c80857.f68d28","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":1380,"wires":[]},{"id":"fec911ad.ef133","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":1420,"wires":[]},{"id":"5891ad3d.c91e44","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":1540,"wires":[]},{"id":"1c598974.e67427","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":1580,"wires":[]},{"id":"13690cb0.2eabf3","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Enable (in)","links":["5ff81dee.402714"],"x":155,"y":1060,"wires":[["3900cd1b.720962"]]},{"id":"30aade80.040d92","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Disable (in)","links":["7784d686.3e4058"],"x":155,"y":1100,"wires":[["3900cd1b.720962"]]},{"id":"b3934120.ed70f","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":70,"y":1060,"wires":[]},{"id":"7c6530a.f7556d","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":70,"y":1100,"wires":[]},{"id":"3900cd1b.720962","type":"change","z":"4c9161c6.7a8fe","name":"Schedule","rules":[{"t":"move","p":"schedule","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1080,"wires":[["b1e88971.a1d6f8"]]},{"id":"e5b50fb7.01688","type":"comment","z":"4c9161c6.7a8fe","name":"Enable","info":"All reset flows come through here","x":1130,"y":580,"wires":[]},{"id":"56cfb515.9d63fc","type":"comment","z":"4c9161c6.7a8fe","name":"Disable","info":"All reset flows come through here","x":1130,"y":620,"wires":[]},{"id":"b4ad800f.fa188","type":"comment","z":"4c9161c6.7a8fe","name":"Bulk enable/disable main form fields","info":"# All reset flows come through here","x":1220,"y":520,"wires":[]},{"id":"647dcf0c.da984","type":"function","z":"4c9161c6.7a8fe","name":"Validate Code","func":"if (msg.payload === '' || (msg.hasOwnProperty('enabled') && !msg.enabled)) {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"invalid\"});\n    return [null, msg];\n}\n\nconst code_length = global.get(\"code_length\");  \n\nvar exp = new RegExp(`^\\\\d{${code_length}}$`);\nif (!exp.test(msg.payload)) {\n    msg.code = msg.payload;\n    msg.topic = \"Invalid Code\";\n    msg.payload = `Please enter a ${code_length}-digit numeric code.`;\n    node.status({fill:\"red\",shape:\"dot\",text:\"validation error\"});\n    return [null, null, msg];\n}\n\nvar msg2 = {};\nnode.status({fill:\"green\",shape:\"dot\",text:\"valid\"});\nmsg2.code = msg.payload;\n\nmsg2.payload =  [  \n    { $or: [{ name: flow.get(\"name\") }, { code: msg.payload }] }\n];\nreturn msg2;\n","outputs":3,"noerr":0,"x":560,"y":320,"wires":[["5b420e1b.5a3d8","50812bdb.c4dbd4"],["a2e20f05.69b53"],["6192e61.1e95c18","70e57f52.63e27"]]},{"id":"cdf7aa3a.8122e8","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"code","pt":"flow","to":"code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":300,"wires":[[]]},{"id":"5b420e1b.5a3d8","type":"mongodb3 in","z":"4c9161c6.7a8fe","service":"_ext_","configNode":"9b97ee84.83a28","name":"Search for code","collection":"LockManager","operation":"find.toArray","x":760,"y":280,"wires":[["510c3839.b7c888"]]},{"id":"6192e61.1e95c18","type":"ui_toast","z":"4c9161c6.7a8fe","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Invalid Code","x":750,"y":340,"wires":[]},{"id":"5bc5f60d.e22bb8","type":"function","z":"4c9161c6.7a8fe","name":"Error message","func":"msg.highlight = \"red\";\nmsg.topic = \"Code in use\";\nmsg.code = msg.payload.code;\nmsg.payload = \"The entered code is already used. Please use a new code.\"\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":260,"wires":[["164d8298.0c9a7d"]]},{"id":"164d8298.0c9a7d","type":"ui_toast","z":"4c9161c6.7a8fe","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"Invalid Code","x":1330,"y":260,"wires":[[]]},{"id":"510c3839.b7c888","type":"function","z":"4c9161c6.7a8fe","name":"Code found","func":"//for (var i in msg.payload)\nvar length = Object.keys(msg.payload).length;\n\nif (length > 1) {\n    node.status({fill:\"green\",shape:\"dot\",text:\"found\"});\n    return msg;\n} else {\n    node.status({fill:\"green\",shape:\"dot\",text:\"not found\"});\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":950,"y":280,"wires":[["5bc5f60d.e22bb8"],["cdf7aa3a.8122e8"]]},{"id":"2d3a06d5.ca058a","type":"change","z":"4c9161c6.7a8fe","name":"set flow.enabled","rules":[{"t":"set","p":"code_enabled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":440,"wires":[[]]},{"id":"ffccae8.859765","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"allow_when_home","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":680,"wires":[[]]},{"id":"b11b0528.0a95d8","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"onetime","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":560,"wires":[[]]},{"id":"e305175c.d07a58","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"start_date","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":860,"wires":[[]]},{"id":"b625e4f0.7018f8","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"end_date","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":900,"wires":[[]]},{"id":"d9454118.f1ead","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"schedule","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1080,"wires":[[]]},{"id":"2835668f.83b45a","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"start_time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1260,"wires":[[]]},{"id":"f70b160c.ff8738","type":"change","z":"4c9161c6.7a8fe","name":"","rules":[{"t":"set","p":"end_time","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1300,"wires":[[]]},{"id":"d9c9880e.1564c8","type":"function","z":"4c9161c6.7a8fe","name":"Validate Fields","func":"var o = {};\no.name = flow.get(\"name\");\no.code = flow.get(\"code\");\no.code_enabled = flow.get(\"code_enabled\");\no.onetime = flow.get(\"onetime\");\no.allow_when_home = flow.get(\"allow_when_home\");\no.set_start = flow.get(\"set_start\");\no.set_end = flow.get(\"set_end\");\no.start_date = o.set_start ? flow.get(\"start_date\") : undefined;\no.end_date = o.set_end ? flow.get(\"end_date\") : undefined;\no.schedule = flow.get(\"schedule\");\no.days = flow.get(\"days\");\no.restrict_hours = flow.get(\"restrict_hours\")\no.start_time = flow.get(\"start_time\");\no.end_time = flow.get(\"end_time\");\n\nif (o.schedule && o.restricted_hours && o.start_time >= o.end_time) {\n    msg.payload = \"The end time must be later than the start time.\";\n    node.status({fill:\"red\",shape:\"dot\",text:\"validation error\"});\n    return [null, msg];\n} else if (o.set_start && o.set_end && o.start_date >= o.end_date) {\n    msg.payload = \"The end date must be later than the start date.\";\n    node.status({fill:\"red\",shape:\"dot\",text:\"validation error\"});\n    return [null, msg];\n} else {\nmsg.payload = o;\nnode.status({fill:\"green\",shape:\"dot\",text:\"valid\"});\nreturn msg;\n}\n","outputs":2,"noerr":0,"x":440,"y":1400,"wires":[["c200b3d9.c2746"],["745a89fc.325a48"]]},{"id":"c200b3d9.c2746","type":"function","z":"4c9161c6.7a8fe","name":"Query","func":"msg.payload = [\n    { \"code\": msg.payload.code },\n    { $set: msg.payload },\n    { upsert: true, returnOriginal: false }\n];\n\nreturn msg;\n","outputs":1,"noerr":0,"x":610,"y":1380,"wires":[["65017f30.6e627"]]},{"id":"f90d8dc5.9069f","type":"function","z":"4c9161c6.7a8fe","name":"Build message","func":"msg.name = flow.get(\"name\");\nmsg.code = flow.get(\"code\");\nmsg.payload = `User saved.`\nreturn [msg, {}];","outputs":2,"noerr":0,"x":920,"y":1380,"wires":[["be53a62.c44e458"],["94b5224b.84b76"]]},{"id":"be53a62.c44e458","type":"ui_toast","z":"4c9161c6.7a8fe","position":"dialog","displayTime":"10","highlight":"red","outputs":1,"ok":"Ok","cancel":"","topic":"Confirmation","name":"Confirmation","x":1090,"y":1380,"wires":[["db6459c.10592a8","7a21a181.7db3e"]]},{"id":"65017f30.6e627","type":"mongodb3 in","z":"4c9161c6.7a8fe","service":"_ext_","configNode":"9b97ee84.83a28","name":"Upsert","collection":"LockManager","operation":"findOneAndUpdate","x":770,"y":1380,"wires":[["f90d8dc5.9069f"]]},{"id":"3dea3ca6.deb2c4","type":"function","z":"4c9161c6.7a8fe","name":"Start Date","func":"var _ = context.global.lodash;\nvar moment = context.global.moment;\n\nmsg.enabled = msg.payload;\nmsg.set_start = msg.payload;\nflow.set(\"set_start\", msg.payload);\nmsg.payload = _.isEmpty(msg.start_date) ? moment().format('M/D/YY') : msg.start_date;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":820,"wires":[["4852e784.11fc38"]]},{"id":"b463abd9.5d24a8","type":"function","z":"4c9161c6.7a8fe","name":"End Date","func":"var _ = context.global.lodash;\nvar moment = context.global.moment;\n\nmsg.enabled = msg.payload;\nmsg.set_end = msg.payload;\nflow.set(\"set_end\", msg.payload);\nmsg.payload = _.isEmpty(msg.end_date) ? moment().format('M/D/YY') : msg.end_date;\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":940,"wires":[["96108f57.90f72"]]},{"id":"745a89fc.325a48","type":"ui_toast","z":"4c9161c6.7a8fe","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"Validation Error","name":"Validation error","x":640,"y":1420,"wires":[]},{"id":"db6459c.10592a8","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Confirmation (out)","links":["35858099.9d5a9"],"x":1195,"y":1380,"wires":[]},{"id":"35858099.9d5a9","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Confirmation (in)","links":["db6459c.10592a8","9c47c427.9b0958","24de18a.a8f3de8"],"x":315,"y":1460,"wires":[["6554b676.444d08"]]},{"id":"888e5b61.f27688","type":"change","z":"4c9161c6.7a8fe","name":"Enable/Disable","rules":[{"t":"move","p":"payload","pt":"msg","to":"enabled","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1140,"wires":[["76e00f84.7716e"]]},{"id":"50812bdb.c4dbd4","type":"debug","z":"4c9161c6.7a8fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":380,"wires":[]},{"id":"70e57f52.63e27","type":"debug","z":"4c9161c6.7a8fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1090,"y":380,"wires":[]},{"id":"a2e20f05.69b53","type":"debug","z":"4c9161c6.7a8fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":930,"y":380,"wires":[]},{"id":"4ccd2f3e.479f5","type":"function","z":"4c9161c6.7a8fe","name":"Set flow.days","func":"var daysOfWeek = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"]; // array of days sorted\nvar days = flow.get(\"days\");\nnode.log(`Current days => ${days}`);\nif (days === undefined || !Array.isArray(days)) days = [];\nif (msg.payload.isChecked) {\n    var match = days.includes(msg.payload.title)\n    node.log(\"match = \" + match);\n    if (!match) days.push(msg.payload.title);\n} else {\n    var i = days.indexOf(msg.payload.title)\n    node.log(\"i = \" + i);\n    if (i >= 0) days.splice(i, 1);\n}\nnode.log(`New days => ${days}`);\n\nvar sorted = days.sort(sort);\nnode.log(`sorted days => ${sorted}`);\nflow.set(\"days\", sorted);\nmsg.payload = sorted;\nreturn msg;\n\nfunction sort(a, b){\n    return daysOfWeek.indexOf(a) - daysOfWeek.indexOf(b); // basic sort function that compares the indexes of the two days\n}\n","outputs":1,"noerr":0,"x":770,"y":1160,"wires":[[]]},{"id":"f224c038.25094","type":"comment","z":"4c9161c6.7a8fe","name":"### FORM ###","info":"","x":100,"y":40,"wires":[]},{"id":"82fcda78.a7d788","type":"function","z":"4c9161c6.7a8fe","name":"Build message","func":"global.set(\"user_type\", \"Deleted\");\nmsg.name = flow.get(\"name\");\nmsg.code = flow.get(\"code\");\nmsg.payload = \"User deleted.\"\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":1560,"wires":[["db9dc756.b02ce8"]]},{"id":"db9dc756.b02ce8","type":"ui_toast","z":"4c9161c6.7a8fe","position":"dialog","displayTime":"10","highlight":"red","outputs":1,"ok":"Ok","cancel":"","topic":"Confirmation","name":"Confirmation","x":950,"y":1560,"wires":[["9c47c427.9b0958","ac5b99d.dfb3468"]]},{"id":"5441ec1a.ed7974","type":"mongodb3 in","z":"4c9161c6.7a8fe","service":"_ext_","configNode":"9b97ee84.83a28","name":"Delete User","collection":"LockManager","operation":"deleteOne","x":610,"y":1560,"wires":[["82fcda78.a7d788"]]},{"id":"9c47c427.9b0958","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Confirmation (out)","links":["35858099.9d5a9"],"x":1055,"y":1540,"wires":[]},{"id":"3fd547f0.664298","type":"function","z":"4c9161c6.7a8fe","name":"Build query","func":"var code = flow.get(\"code\");\nvar name = flow.get(\"name\");\nvar user = { payload: [\n    {\n        \"code\": code, \n        \"name\": name\n    },\n    {}\n]};\nvar slot = { payload: {\"name\": name } };\n\nreturn [user, slot];","outputs":2,"noerr":0,"x":450,"y":1580,"wires":[["5441ec1a.ed7974"],["5e8b46ff.92d2e8"]]},{"id":"a8d21a16.d8be18","type":"switch","z":"4c9161c6.7a8fe","name":"Passcode?","property":"passcode","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"null"},{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":120,"wires":[["a597f1ef.0669"],["a597f1ef.0669"],["a597f1ef.0669"],["ef87d463.6dbc08"]]},{"id":"fa13c2da.2f955","type":"link out","z":"4c9161c6.7a8fe","name":"No passcode","links":["dfc7579e.988318"],"x":815,"y":80,"wires":[]},{"id":"a597f1ef.0669","type":"change","z":"4c9161c6.7a8fe","name":"Display Keypad","rules":[{"t":"set","p":"keypad_displayed","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":100,"wires":[["fa13c2da.2f955"]]},{"id":"6b6b7842.d92858","type":"inject","z":"e037ddc.bbf4a2","name":"On Start","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":80,"wires":[["559a8e55.75f01"]]},{"id":"b46079a1.be6708","type":"comment","z":"e037ddc.bbf4a2","name":"Put Encryption Key into flow","info":"The encryption key is hard-coded. \nDoesn't matter what it isas long as it doesn't change.","x":140,"y":40,"wires":[]},{"id":"c2ba0532.1aec08","type":"comment","z":"e037ddc.bbf4a2","name":"### Encryption ###","info":"","x":110,"y":180,"wires":[]},{"id":"559a8e55.75f01","type":"credentials","z":"e037ddc.bbf4a2","name":"Put encryption key in global context","props":[{"value":"encryption_key","type":"global"}],"x":320,"y":80,"wires":[[]]},{"id":"f6ebe434.d42c68","type":"inject","z":"4d149fd1.afec5","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":360,"wires":[["289932d4.e3468e"]]},{"id":"ecf178ba.1d02b8","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Get Users","collection":"LockManager","operation":"find.toArray","x":400,"y":360,"wires":[["4099e6b5.c65428"]]},{"id":"4099e6b5.c65428","type":"function","z":"4d149fd1.afec5","name":"Parse codes","func":"var m = {};\nvar enabled = [];\nvar disabled = [];\nvar now = Date.now();\n\n// only need enabled codes\nfor (var i in msg.payload)\n    if (msg.payload[i].code_enabled)\n        enabled.push(msg.payload[i]);\n    else\n        disabled.push(msg.payload[i]);\n\n// grab all the non-scheduled codes\nvar valid = [];\nenabled.forEach(function(rec, index){\n    if (validPermanent(rec) || validSchedule(rec))\n        valid.push(rec);\n    else disabled.push(rec);\n});\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: `valid: ${valid.length} disabled: ${disabled.length}` });\n// payload is empty {} because we're getting all codes\n// from the db in the next step. \nreturn { payload: {}, valid: valid, disabled: disabled };\n\nfunction validPermanent(rec) {\n    return (validStart(rec) && validEnd(rec) && validDay(rec) && validTime(rec) && validWhileAway(rec))\n}\nfunction validStart(rec) {\n    return !rec.set_start || rec.start_date <= now;\n}\n\nfunction validEnd(rec) {\n    return !rec.set_end || rec.end_date >= now;\n}\n\nfunction validDay(rec) {\n    if (!rec.schedule)\n        return true;\n        \n    var d = new Date();\n    var weekday = new Array(7);\n    weekday[0] =  \"Sunday\";\n    weekday[1] = \"Monday\";\n    weekday[2] = \"Tuesday\";\n    weekday[3] = \"Wednesday\";\n    weekday[4] = \"Thursday\";\n    weekday[5] = \"Friday\";\n    weekday[6] = \"Saturday\";\n    var n = weekday[d.getDay()];\n    try {\n        var a = rec.days.includes(n);\n    } catch(ex) { \n        node.log(`ERROR - ${JSON.stringify(rec, null, 2)}`); \n    }\n    if (rec.name === 'Test')\n        node.log(`   *** Days include = ${ rec.days.includes(n)}`);\n    return !rec.schedule || rec.days.includes(n);\n}\n\nfunction validTime(rec) {\n    var d = new Date(), e = new Date(d);\n    var msSinceMidnight = e - d.setHours(0, 0, 0, 0);\n    if (rec.name === 'Test') {\n        node.log(`   *** since midnight = ${ msSinceMidnight }`);\n        node.log(`   *** start time = ${ rec.start_time }`);\n        node.log(`   *** eval = ${ msSinceMidnight >= rec.start_time }`);\n    }\n    return !rec.restrict_hours || (msSinceMidnight >= rec.start_time && msSinceMidnight <= rec.end_time);\n}\n\nfunction validWhileAway(rec) {\n    // need to get home/away status for comparison\n    return !rec.allow_when_home || 1===1;\n}\n\nfunction validSchedule(rec) {\n    return (validStart(rec) && validEnd(rec) && validDay(rec) && validTime(rec) && validWhileAway(rec))\n}\n","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["6dad59f7.447b08","3fc99913.f0c286"]]},{"id":"310a333b.94ebec","type":"comment","z":"4d149fd1.afec5","name":"Delete scheduled codes","info":"","x":120,"y":320,"wires":[]},{"id":"6dad59f7.447b08","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Get Slots","collection":"LockSlots","operation":"find.toArray","x":720,"y":360,"wires":[["9b58b4a2.7c22d8","b437ead4.9053f8"]]},{"id":"9b58b4a2.7c22d8","type":"change","z":"4d149fd1.afec5","name":"Transform object","rules":[{"t":"move","p":"payload","pt":"msg","to":"slots","tot":"msg"},{"t":"move","p":"disabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":360,"wires":[["9d1de36d.8b86","3bf72ab4.e7b8e6"]]},{"id":"5375ab4b.ad04d4","type":"link in","z":"4d149fd1.afec5","name":"Add codes to lock","links":["9fc72bb1.88db98","eb0d9a49.d89938","38888259.930b1e","d8cb18ef.04c638"],"x":35,"y":520,"wires":[["502b0577.38ac7c"]]},{"id":"a341f4d7.35dc78","type":"split","z":"4d149fd1.afec5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1270,"y":340,"wires":[["b686408d.ae48","503cb842.650388"]]},{"id":"b686408d.ae48","type":"function","z":"4d149fd1.afec5","name":"Find door codes to disable","func":"const s = msg.slots;\nconst node_id = global.get(\"lock_node_id\");\nconst slots = Object.keys(s).map(key => s[key]);\nconst user = slots.find(slot => slot.name  === msg.payload.name);\nif (user !== undefined) {\n    node.status({ fill: \"blue\", shape: \"dot\", text: msg.payload.name });\n    const schedule = { name: msg.payload.name, action: 'Removed' };\n    msg.payload = { data: { node_id: node_id, code_slot: user.slot } };\n    return [msg, schedule];\n} else return [null, null, msg];\n","outputs":3,"noerr":0,"x":1460,"y":340,"wires":[["2e9759d5.c60cb6","601752b5.94feec"],["14a324c4.b06f6b","a5bad989.fe39f8"],["9fc72bb1.88db98"]]},{"id":"e0797beb.9d1178","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Clear Slot","collection":"LockSlots","operation":"deleteOne","x":2040,"y":300,"wires":[["eb0d9a49.d89938"]]},{"id":"e70e5563.fb7c28","type":"function","z":"4d149fd1.afec5","name":"Build Query","func":"msg.payload = { slot: msg.payload.data.code_slot };\nreturn msg;\n","outputs":1,"noerr":0,"x":1890,"y":300,"wires":[["e0797beb.9d1178","ee91fd9a.1ac3e"]]},{"id":"9307a529.4e0898","type":"split","z":"4d149fd1.afec5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":670,"y":520,"wires":[["33fb69f4.1826a6","a97900ea.587de"]]},{"id":"c7dfe967.e46628","type":"change","z":"4d149fd1.afec5","name":"move valid codes to payload","rules":[{"t":"move","p":"valid","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":520,"wires":[["dee1eccb.af7ac"]]},{"id":"d82f4b3.a7a24b8","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Check for user","collection":"LockSlots","operation":"findOne","x":980,"y":520,"wires":[["74a83096.2ebd9","17614d71.fabd73"]]},{"id":"33fb69f4.1826a6","type":"function","z":"4d149fd1.afec5","name":"Build Query","func":"msg.name = msg.payload.name;\nmsg.code = msg.payload.code;\nmsg.setup = { name: msg.name, code: msg.code };\nmsg.payload =  { name: msg.payload.name };\nreturn msg;\n","outputs":1,"noerr":0,"x":810,"y":520,"wires":[["d82f4b3.a7a24b8","c660d93d.f83668"]]},{"id":"74a83096.2ebd9","type":"function","z":"4d149fd1.afec5","name":"Exists?","func":"const _ = context.global.lodash;\nconst moment = context.global.moment;\n\n// if empty, add to slot\nif (_.isEmpty(msg.payload)) {    \n    const schedule = { name: msg.name, action: 'Added' };\n    node.status({ fill: \"blue\", shape: \"dot\", text: `Adding ${msg.name} at ${moment().format('M/D/YY h:mm a')}` });\n    return [msg, schedule]\n}\n\nreturn [null, null, {}];","outputs":3,"noerr":0,"x":1140,"y":520,"wires":[["38543c1c.384c74"],["8c56cbe4.ecdf98","a33c6b60.ddf6a8"],["19f97d02.8232d3"]]},{"id":"9fc72bb1.88db98","type":"link out","z":"4d149fd1.afec5","name":"Contine to add codes to lock","links":["5375ab4b.ad04d4"],"x":1635,"y":380,"wires":[]},{"id":"502b0577.38ac7c","type":"join","z":"4d149fd1.afec5","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":130,"y":520,"wires":[["c7dfe967.e46628"]]},{"id":"eb0d9a49.d89938","type":"link out","z":"4d149fd1.afec5","name":"Contine to add codes to lock","links":["5375ab4b.ad04d4"],"x":2135,"y":300,"wires":[]},{"id":"dee1eccb.af7ac","type":"function","z":"4d149fd1.afec5","name":"Usable Slots","func":"// This generates a list of possible slots. Index is 0-based and slots start\n// at 1 so it needs to offset 1 to account for that. If the slot_offset var\n// is set then that's added to get the true starting slot\n// and slots need to start with 1 AND the first slot is our main code that isn't\n// a part of this.\nconst _ = context.global.lodash;\n\nconst offset = global.get(\"slot_offset\") + 1;\nconst allSlots = Array.from({length: 31 - offset}, (v, k) => k + offset);\nconst slots = Object.keys(msg.slots).map(key => msg.slots[key]);\nvar usedSlots = slots.map(s => s.slot);\nlet difference = allSlots.filter(slot => !usedSlots.includes(slot));\nmsg.slots = difference;\nnode.status({ fill: \"blue\", shape: \"dot\", text: msg.slots.join(',') });\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":520,"wires":[["9307a529.4e0898","5232834b.a46e7c"]]},{"id":"38543c1c.384c74","type":"join","z":"4d149fd1.afec5","name":"","mode":"custom","build":"array","property":"setup","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1270,"y":480,"wires":[["60b3bb0c.ab7d54"]]},{"id":"60b3bb0c.ab7d54","type":"function","z":"4d149fd1.afec5","name":"Assign Slot","func":"let payload = [];\nfor (let i in msg.setup) {\n    var m = {};\n    m.name = msg.setup[i].name;\n    m.code = msg.setup[i].code;\n    m.slot = msg.slots[i];\n    payload.push(m);\n}\n\nnode.status({fill:\"blue\",shape:\"dot\",text:`slots ${msg.slots.join(',')}`});\n\nreturn { payload };\n","outputs":1,"noerr":0,"x":1410,"y":480,"wires":[["ae9f0bed.42a218","edbf0f57.63be8"]]},{"id":"ae9f0bed.42a218","type":"split","z":"4d149fd1.afec5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1550,"y":480,"wires":[["3471b9f5.866a96"]]},{"id":"3471b9f5.866a96","type":"function","z":"4d149fd1.afec5","name":"Build Objects","func":"let payload = [];\nconst node_id = global.get(\"lock_node_id\");\nfor (let i in msg.setup) {\n    var m = {};\n    m.name = msg.setup[i].name;\n    m.code = msg.setup[i].code;\n    m.slot = msg.slots[i];\n    payload.push(m);\n}\n\nconst lock = {\n    payload: {\n        data: {\n            node_id: node_id,\n            code_slot: msg.payload.slot,\n            usercode: msg.payload.code\n        }\n    }\n};\nnode.log(`Setting usercode => ${lock.payload.data}`)\n\nconst slot = { payload: [\n    { \n        slot: msg.payload.slot,\n        name: msg.payload.name\n    },\n    { forceServerObjectId: true }\n]};\n\nnode.log(`Writing LockSlot => ${msg.payload}`);\n\nreturn [lock, slot];\n","outputs":2,"noerr":0,"x":1700,"y":480,"wires":[["529bce94.0ca96"],["ad469e6f.a37b7"]]},{"id":"ad469e6f.a37b7","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Insert Slot","collection":"LockSlots","operation":"insertOne","x":1860,"y":520,"wires":[["81216c6b.bc894"]]},{"id":"19f97d02.8232d3","type":"link out","z":"4d149fd1.afec5","name":"Call Global Slots","links":["ae813a6d.044d58"],"x":1255,"y":560,"wires":[]},{"id":"81216c6b.bc894","type":"link out","z":"4d149fd1.afec5","name":"Call Global Slots","links":["ae813a6d.044d58"],"x":1955,"y":520,"wires":[]},{"id":"ae813a6d.044d58","type":"link in","z":"4d149fd1.afec5","name":"Set Global Slots","links":["19f97d02.8232d3","81216c6b.bc894"],"x":35,"y":660,"wires":[["fd852ba4.4d4f88"]]},{"id":"fd852ba4.4d4f88","type":"join","z":"4d149fd1.afec5","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":130,"y":660,"wires":[["ea370d72.7c32f"]]},{"id":"ea370d72.7c32f","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Get Slots","collection":"LockSlots","operation":"find.toArray","x":260,"y":660,"wires":[["43605eaa.6186d"]]},{"id":"43605eaa.6186d","type":"function","z":"4d149fd1.afec5","name":"Set global.slots","func":"var moment = context.global.moment;\n\nconst slots = Object.keys(msg.payload).map(key => msg.payload[key]);\nconst offset = global.get(\"offset_users\");\nconst combined = offset.concat(slots);\nmsg.payload = combined;\nglobal.set(\"slots\", combined);\nnode.status({ fill: \"blue\", shape: \"dot\", text: moment().format('M/D/YY, h:mm:ss a') });\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":660,"wires":[[]]},{"id":"ad5c9208.69ce4","type":"ui_toast","z":"4d149fd1.afec5","position":"top right","displayTime":"3","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1190,"y":120,"wires":[]},{"id":"e98baa0f.849788","type":"ui_template","z":"4d149fd1.afec5","group":"f81674f9.0542a8","name":"Pin_Unlock","order":0,"width":"0","height":"0","format":"<div ng-init=\"init()\" id=\"pin_insert\" class=\"dialog\">\n    \n    <div class=\"dialog_content\">\n        \n        <div class=\"dialog_header\">\n            <h2 style=\"margin:10px\">Insert PIN</h2>\n        </div>\n        \n        <div class=\"dialog_body\">\n\n           <div layout=\"row\" layout-align=\"center\">\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(0, 1)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(1, 2)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(2, 3)}}\n                </div>\n                <div class=\"number_placeholder\">\n                    {{passcode.substring(3, 4)}}\n                </div>\n            </div>\n            \n            <div layout=\"column\" layout-align=\"center\" style=\"margin-top: 10px\">\n                <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(1)\">1</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(2)\">2</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(3)\">3</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(4)\">4</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(5)\">5</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(6)\">6</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(7)\">7</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(8)\">8</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(9)\">9</md-button>\n                    </div>\n                </div>\n                 <div layout=\"row\" layout-align=\"center\">\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"confirm()\">\n                            <ng-md-icon icon=\"done\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"add(0)\">0</md-button>\n                    </div>\n                    <div class=\"number_box\">\n                        <md-button class=\"pin\" ng-click=\"delete()\">\n                            <ng-md-icon icon=\"arrow_back\" style=\"color:#fff;\"></ng-md-icon>\n                        </md-button>\n                    </div>\n                </div>\n            </div> \n          \n        </div> <!--dialog_body-->\n    </div> <!--dialog_content-->\n</div>  <!--dialog-->\n\n\n<style>\n\n/* The Dialog (background) */\n.dialog {\n    display: none; /* Hidden by default */\n    position: fixed; /* Stay in place */\n    z-index: 9999; /* Sit on top */\n    left: 0;\n    top: 0;\n    width: 100%; /* Full width */\n    height: 100%; /* Full height */\n    overflow: auto; /* Enable scroll if needed */\n    background-color: rgb(0,0,0); /* Fallback color */\n    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n    -webkit-transform: translateZ(0px);\n    -webkit-transform: translate3d(0,0,0);\n    -webkit-perspective: 1000;\n}\n\n.dialog_content {\n    position: absolute;\n    background-color: #fff;\n    left: calc(50% - 170px);\n    top: 30px;\n    border-radius: 10px;\n    padding: 0;\n    width: 340px;\n    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);\n    -webkit-animation-name: animatetop;\n    animation-name: animatetop;\n    animation-duration: 0.4s;\n}\n\n/* Media query for smartphones (to Fix?) */\n@media only screen and (min-device-width : 375px) and (max-device-width : 667px) { \n    .dialog_content {\n    margin-top: 5%;\n    margin-left: 5%;\n}\n}\n\n/* Add Animation */\n@-webkit-keyframes animatetop {\n    from {top: -300px; opacity: 0} \n    to {top: 0; opacity: 1}\n}\n\n@keyframes animatetop {\n    from {top: -300px; opacity: 0}\n    to {top: 0; opacity: 1}\n}\n\n/* Dialog Header */\n.dialog_header {\n    padding: 2px 16px;\n    background-color: #03A9F4;\n    border-radius: 10px 10px 0 0;\n    color: white;\n}\n\n/* Dialog Body */\n.dialog_body {padding: 5px;}\n\n/* __ */\n.number_placeholder{\n    width: 50px;\n    height: 34px;\n    margin: 10px;\n    font-size: 20pt;\n    text-align: center;\n    border-bottom: 1px solid black;\n}\n\n/* Number container */\n.number_box{\n    margin: 5px;\n}\n\n/* Buttons style */\n.pin {\n    min-height: 50px;\n    min-width: 50px;\n    font-weight: bold;\n    margin: 0px 10px 10px 0px;\n    box-shadow: 4px 4px 6px 0 #dadada;\n    background-color: #29B6F6;\n    color: #fff;\n}\n\n.pin:not([disabled]):hover {\n    background-color: #03A9F4;\n}\n\n.btn1 {\n  color : rgb(49, 46, 46);\n  background-color: rgba(255, 222, 121, 0.96);\n  border-radius: 10px 0 0 10px;\n  font-size: 16px;\n}\n\n.btn1:not([disabled]):hover {\n  background-color: rgba(107, 103, 91, 0.96);\n  color: white;\n}\n\n.btn1[disabled] {\n  color : rgb(187, 187, 187);\n  background-color: rgba(230, 230, 229, 0.96);\n}\n\n</style>\n\n<script>\n\n/**\n * pin_dialog.js\n * Node-Red UI template for Node-Red Dashboard. \n * Custom dialog that asks for a PIN to allow actions\n * Enjoy it :). \n * -- Daniel\n *\n *\n * @license The Unlicense, http://unlicense.org/\n * @version 0.2\n * @author  Daniel Lando, https://github.com/robertsLando\n * @updated 2019-03-18\n * @link    ----\n *\n *\n */\n\nvar dialog;\n\n/* ==== */\n(function(scope) {\n    \n    scope.passcode = \"\";\n    scope.payload = \"\";\n    scope.inited = false;\n    \n    scope.init = function() {\n        scope.passcode = \"\";\n        //Hide the md-panel\n        $('#pin_insert').parent().parent().css(\"display\", \"none\");\n        //This trick make it works on smartphones too :)\n        dialog = $('#pin_insert').detach();\n        //dialog.appendTo(document.body); // This leaves ghost numpads if pinpad is not opened!\n    }\n    \n    scope.showDialog = function() {\n        dialog.appendTo(document.body); // better to add the body only when the numpad is displayed (seams to be removed automatically)\n        dialog.css(\"display\", \"block\");\n    }\n    \n    scope.closeDialog = function(){\n        dialog.css(\"display\", \"none\");\n    }\n    \n    scope.add = function(value) {\n        if(scope.passcode.length < 4) {\n            scope.passcode = scope.passcode + value;\n            if(scope.passcode.length == 4) {\n                console.log(\"The four digit code was entered\");\n                   \n            }\n        }\n    }\n \n    scope.delete = function() {\n        if(scope.passcode.length > 0) {\n            scope.passcode = scope.passcode.substring(0, scope.passcode.length - 1);\n        }\n    }\n    \n    scope.confirm = function() {\n        if(scope.passcode.length == 4) {\n            scope.send({passcode: scope.passcode, payload : scope.payload});\n            scope.closeDialog();\n            scope.passcode = \"\";\n            scope.payload = \"\";\n        }\n    }\n\n    scope.$watch('msg', function(data) {\n        if(data && data.topic){\n            switch(data.topic){\n               case \"show\":\n                   if(scope.inited){\n                        scope.payload = data.payload;\n                        scope.showDialog();\n                   }\n                   else\n                        scope.inited = true;\n                break;\n                case \"close\": \n                    scope.closeDialog(); \n                break;\n            }\n        }\n    });\n})(scope);\n\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":550,"y":140,"wires":[["e389b9b9.810dc8","bf7c6db7.52758"]]},{"id":"641f3e42.2c28e","type":"function","z":"4d149fd1.afec5","name":"","func":"var moment = context.global.moment;\n\nconst displayed = global.get(\"keypad_displayed\") || false;\nmsg.displayed = displayed;\nconst passcode = global.get(\"passcode\") || '';\nmsg.passcode = passcode;\nif (passcode === '' && !displayed) {\n    return {\n        payload: true,\n        topic: \"show\",\n        passcode: passcode,\n        keypad_displayed: displayed\n    };\n}\n\nnode.status({ fill: \"blue\", shape:\"dot\", text: moment().format('MMM D h:mm a')} );\n    \nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["df087546.2aafa8","e98baa0f.849788"]]},{"id":"533027bd.f6ba18","type":"inject","z":"4d149fd1.afec5","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":120,"wires":[["641f3e42.2c28e"]]},{"id":"ab7f288.8c3bbd8","type":"link out","z":"4d149fd1.afec5","name":"Invalid Passcode","links":["dfc7579e.988318"],"x":1115,"y":160,"wires":[]},{"id":"dfc7579e.988318","type":"link in","z":"4d149fd1.afec5","name":"Show Passcode","links":["ab7f288.8c3bbd8","fa13c2da.2f955"],"x":155,"y":160,"wires":[["641f3e42.2c28e"]]},{"id":"dac61c1f.92e0f","type":"switch","z":"4d149fd1.afec5","name":"check","property":"passcode","propertyType":"msg","rules":[{"t":"eq","v":"passcode_value","vt":"global"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":850,"y":140,"wires":[["e5fdf1c2.1373f","618dee7d.bb826"],["f14e51ee.82e6d","1e5f2676.258c2a"]]},{"id":"e5fdf1c2.1373f","type":"change","z":"4d149fd1.afec5","name":"set passcode","rules":[{"t":"set","p":"passcode","pt":"global","to":"passcode","tot":"msg"},{"t":"set","p":"keypad_displayed","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"Pin successfully verified!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":120,"wires":[["ad5c9208.69ce4"]]},{"id":"e389b9b9.810dc8","type":"change","z":"4d149fd1.afec5","name":"set hidden","rules":[{"t":"set","p":"keypad_displayed","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":140,"wires":[["dac61c1f.92e0f","1a706603.d7aeca"]]},{"id":"f14e51ee.82e6d","type":"change","z":"4d149fd1.afec5","name":"set error","rules":[{"t":"set","p":"payload","pt":"msg","to":"Invalid pin","tot":"str"},{"t":"set","p":"passcode","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":160,"wires":[["ad5c9208.69ce4","ab7f288.8c3bbd8"]]},{"id":"35a3384f.940f48","type":"comment","z":"4d149fd1.afec5","name":"Verify user","info":"Don't love this but adding security also means adding\nthe same security to all my POST methods and that's \nnot going to work.","x":80,"y":80,"wires":[]},{"id":"2e9759d5.c60cb6","type":"api-call-service","z":"4d149fd1.afec5","name":"Clear Lock Code","server":"21e39bfe.4a1524","version":"1","service_domain":"lock","service":"clear_usercode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":300,"wires":[["e70e5563.fb7c28","afbc5801.048678"]]},{"id":"529bce94.0ca96","type":"api-call-service","z":"4d149fd1.afec5","name":"Program Lock","server":"21e39bfe.4a1524","version":"1","service_domain":"lock","service":"set_usercode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1880,"y":460,"wires":[[]]},{"id":"df087546.2aafa8","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":180,"wires":[]},{"id":"eeaa45af.de2078","type":"mongodb3 in","z":"4c9161c6.7a8fe","service":"_ext_","configNode":"9b97ee84.83a28","name":"Get Users","collection":"LockManager","operation":"find.toArray","x":600,"y":1740,"wires":[["6ff36ad1.a45034"]]},{"id":"e9d30d29.a5775","type":"inject","z":"4c9161c6.7a8fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1780,"wires":[["44840e5f.d50ba"]]},{"id":"6ff36ad1.a45034","type":"function","z":"4c9161c6.7a8fe","name":"Fill names","func":"node.debug(\"Filling names\");\nvar names = [];\n\nfor (var i in msg.payload)\n    names.push(msg.payload[i].name);\nmsg.options = names;\nmsg.payload = \"\";\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":1740,"wires":[["9ed8267.040fed8"]]},{"id":"b9c82933.21fc38","type":"ui_template","z":"4c9161c6.7a8fe","group":"1fff74d9.620a6b","name":"Page Load","order":28,"width":0,"height":0,"format":"<script>\n(function() {\n    (function(scope) {\n        scope.send({payload: \"\"}); // this gets sent when the view is opened in the browser\n    })(scope);\n})();\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":90,"y":1740,"wires":[["b4c61fc.99b80e","44840e5f.d50ba"]]},{"id":"b4c61fc.99b80e","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Page Load (out)","links":["dc41c3fe.c7d41","6aa6334a.6facfc"],"x":215,"y":1780,"wires":[]},{"id":"580e1fd5.bc0e9","type":"link in","z":"4c9161c6.7a8fe","name":"Dashboard - Users - Page Load","links":["8bcdc191.59189","a34d3929.a91428"],"x":135,"y":1700,"wires":[["44840e5f.d50ba"]]},{"id":"62e57e63.eb6e7","type":"comment","z":"4c9161c6.7a8fe","name":"Reset Form","info":"All reset flows come through here","x":90,"y":1660,"wires":[]},{"id":"9ed8267.040fed8","type":"link out","z":"4c9161c6.7a8fe","name":"Dashboard - Lock Users - Load Names (out)","links":["c23f535e.114b","c9dd7f7f.9b57d"],"x":855,"y":1740,"wires":[]},{"id":"44840e5f.d50ba","type":"function","z":"4c9161c6.7a8fe","name":"Reset Flow Vars","func":"flow.set(\"name\", undefined);\nflow.set(\"code\", undefined);\nflow.set(\"set_start\", undefined);\nflow.set(\"start_date\", undefined);\nflow.set(\"set_end\", undefined);\nflow.set(\"end_date\", undefined);\nflow.set(\"code_enabled\", undefined);\nflow.set(\"onetime\", undefined);\nflow.set(\"allow_when_home\", undefined);\nflow.set(\"schedule\", undefined);\nflow.set(\"days\", undefined);\nflow.set(\"set_start\", undefined);\nflow.set(\"set_end\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1740,"wires":[["ca65750e.4f59a8"]]},{"id":"ca65750e.4f59a8","type":"function","z":"4c9161c6.7a8fe","name":"Build Query","func":"msg.payload =  [\n    {},\n    { \n        projection : {_id: 0, name: 1}\n    }\n];\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1740,"wires":[["eeaa45af.de2078"]]},{"id":"848280b6.52a18","type":"comment","z":"2f263f0.080e7c2","name":"### IMPORTANT READ ME ###","info":"This sets all variables that would otherwise be \nhard-coded into global/flow for use.\n\npasscode - the number that unlocks with the pin pad (global)\n\nlock_node_id - the node_id of the door lock in question\n\ncode_length - a number between 4 and whatever that corresponds to the length of the code.\n**For Schlage, all codes have to be the same length.**\nNOTE: This does not change the lock settings, only specifies what's accepted in the form.\n\nslot_offset - if there are slots that should never be touched, say slots 1-3, then enter a slot_offset\nvalue of 3. Default is 0.\n\nslot_offset_users - JSON array of users to handle the slot offsets. An example with 1 slot offset might be\n`[{\"slot\":0,\"name\":\"Lock button\"},{\"slot\":1,\"name\":\"Family\"}]`\n\n\ndevices_for_home - array of entity_id to check for home/away. \nAny device home is considered HOME. All devices aways is considered AWAY.\n\nnotify_devices - JSON array of devices to send notifications to.\n\nnotify_on_lock - uses the notify device and sends a notification to that device when door is locked from the keypad.\n\nnotify_on_manual_lock - uses the notify device and sends a notification to that device when door is locked from the inside or with a key.\n\nnotify_on_unlock - uses the notify device and sends a notification to that device when door is unlocked from the keypad.\n\nnotify_on_manual_unlock - uses the notify device and sends a notification to that device when door is unlocked from the inside or with a key.\n\nuse_encryption - specifies whether or not to encrypt the codes in the db.\n\ndisable_all_codes_when_asleep - clears all codes, except slot codes, while sleeping. \n\nuse_clearcode - uses the lock.clear_usercode .This is **NOT** supported in Home Assistant without some work.\nIf value is false then a random number will be used to overwrite codes.\n\nlog_manual_lock - writes manual lock activities to log.\n\nlog_manual_unlock - writes manual lock activities to log.\n\nkkep_log_days - number of days to keep log data. Older data is removed.","x":150,"y":40,"wires":[]},{"id":"510408bc.e416e8","type":"inject","z":"2f263f0.080e7c2","name":"Create variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["553a4b02.241964"]]},{"id":"553a4b02.241964","type":"change","z":"2f263f0.080e7c2","name":"Create global vars","rules":[{"t":"set","p":"passcode_value","pt":"global","to":"1234","tot":"str"},{"t":"set","p":"lock_node_id","pt":"global","to":"26","tot":"num"},{"t":"set","p":"code_length","pt":"global","to":"4","tot":"num"},{"t":"set","p":"slot_offset","pt":"global","to":"1","tot":"num"},{"t":"set","p":"offset_users","pt":"global","to":"[{\"slot\":0,\"name\":\"Lock button\"},{\"slot\":1,\"name\":\"Beavners\"}]","tot":"json"},{"t":"set","p":"devices_for_home","pt":"global","to":"{}","tot":"json"},{"t":"set","p":"notify_devices","pt":"global","to":"['notify.ios_jay_iphone']","tot":"jsonata"},{"t":"set","p":"notify_on_lock","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"notify_manual_lock","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"notify_on_unlock","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"notify_manual_unlock","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"use_encryption","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"disable_all_codes_when_asleep","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"use_clearcode","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"log_manual_lock","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"log_manual_unlock","pt":"global","to":"true","tot":"bool"},{"t":"set","p":"keep_log_days","pt":"global","to":"14","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[[]]},{"id":"61559655.9a0158","type":"api-call-service","z":"593fb5af.ec311c","name":"","server":"349447fb.a8b908","version":"1","service_domain":"lock","service":"get_usercode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":140,"wires":[["63051968.0d5618"]]},{"id":"ab90201d.404e5","type":"inject","z":"593fb5af.ec311c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["471e3e51.35264"]]},{"id":"471e3e51.35264","type":"function","z":"593fb5af.ec311c","name":"build array","func":"var nums = [];\nfor (var i = 2; i < 30; i++)\n    nums.push(i);\nmsg.payload = nums;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["7669c156.b723e"]]},{"id":"7669c156.b723e","type":"split","z":"593fb5af.ec311c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":390,"y":140,"wires":[["40fe19f0.de79f8"]]},{"id":"40fe19f0.de79f8","type":"function","z":"593fb5af.ec311c","name":"build array","func":"const node_id = flow.get(\"lock_node_id\");\nmsg.payload = {\n    \"node_id\": node_id, \"code_slot\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["317051c9.dfff9e"]]},{"id":"317051c9.dfff9e","type":"change","z":"593fb5af.ec311c","name":"Set payload","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":140,"wires":[["61559655.9a0158"]]},{"id":"2a11afd.9ff2a5","type":"api-call-service","z":"593fb5af.ec311c","name":"","server":"349447fb.a8b908","version":"1","service_domain":"lock","service":"clear_usercode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":260,"wires":[["63051968.0d5618"]]},{"id":"139887ea.c586f8","type":"inject","z":"593fb5af.ec311c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["256985a7.22c6ea"]]},{"id":"256985a7.22c6ea","type":"function","z":"593fb5af.ec311c","name":"build array","func":"var nums = [];\nfor (var i = 2; i < 30; i++)\n    nums.push(i);\nmsg.payload = nums;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":260,"wires":[["c695f1e1.033bc"]]},{"id":"c695f1e1.033bc","type":"split","z":"593fb5af.ec311c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":400,"y":260,"wires":[["6ec7291b.0791f8"]]},{"id":"6ec7291b.0791f8","type":"function","z":"593fb5af.ec311c","name":"build array","func":"const node_id = flow.get(\"lock_node_id\");\nmsg.payload = {\n    \"node_id\": node_id, \"code_slot\": msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":260,"wires":[["e0948f46.bba9a"]]},{"id":"e0948f46.bba9a","type":"change","z":"593fb5af.ec311c","name":"Set payload","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":260,"wires":[["2a11afd.9ff2a5"]]},{"id":"190767b4.a54518","type":"comment","z":"593fb5af.ec311c","name":"### DEBUGGING ###","info":"","x":130,"y":40,"wires":[]},{"id":"3886f651.4d39fa","type":"inject","z":"593fb5af.ec311c","name":"Fetch","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":680,"wires":[["74b952aa.fcedac"]]},{"id":"74b952aa.fcedac","type":"mongodb3 in","z":"593fb5af.ec311c","service":"_ext_","configNode":"7fbc5f5e.d45f6","name":"Get Log","collection":"LockLog","operation":"find.toArray","x":240,"y":680,"wires":[["e46b2550.c4e428"]]},{"id":"e46b2550.c4e428","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":680,"wires":[]},{"id":"5c844599.50701c","type":"comment","z":"593fb5af.ec311c","name":"Get Logs","info":"","x":100,"y":640,"wires":[]},{"id":"6f06c3b0.64f73c","type":"inject","z":"593fb5af.ec311c","name":"Fetch","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":800,"wires":[["db22b9d1.6529b8"]]},{"id":"db22b9d1.6529b8","type":"mongodb3 in","z":"593fb5af.ec311c","service":"_ext_","configNode":"7fbc5f5e.d45f6","name":"Get Users","collection":"LockManager","operation":"find.toArray","x":240,"y":800,"wires":[["d09fb8c9.a69168"]]},{"id":"d09fb8c9.a69168","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":800,"wires":[]},{"id":"fbf8f1e0.8ff13","type":"comment","z":"593fb5af.ec311c","name":"Get Users","info":"","x":100,"y":760,"wires":[]},{"id":"323d8633.83779a","type":"inject","z":"593fb5af.ec311c","name":"Fetch","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":900,"wires":[["71e60370.d43a8c"]]},{"id":"71e60370.d43a8c","type":"mongodb3 in","z":"593fb5af.ec311c","service":"_ext_","configNode":"7fbc5f5e.d45f6","name":"Get Slots","collection":"LockSlots","operation":"find.toArray","x":240,"y":900,"wires":[["2b4982d1.f9033e"]]},{"id":"2b4982d1.f9033e","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":900,"wires":[]},{"id":"9241d592.4ab0f8","type":"comment","z":"593fb5af.ec311c","name":"Get Slots","info":"","x":100,"y":860,"wires":[]},{"id":"9a675647.4453e8","type":"comment","z":"593fb5af.ec311c","name":"### Mongo ###","info":"","x":120,"y":600,"wires":[]},{"id":"1920499e.93f0a6","type":"inject","z":"593fb5af.ec311c","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1000,"wires":[["d6df689.ef86d98"]]},{"id":"5033e1e5.3d3a4","type":"mongodb3 in","z":"593fb5af.ec311c","service":"_ext_","configNode":"7fbc5f5e.d45f6","name":"Clear Slots","collection":"LockSlots","operation":"deleteMany","x":390,"y":1000,"wires":[[]]},{"id":"d6df689.ef86d98","type":"change","z":"593fb5af.ec311c","name":"slot > 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"slot\":{\"$gt\":1}},{}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1000,"wires":[["5033e1e5.3d3a4"]]},{"id":"6ceb7a63.fd9bc4","type":"comment","z":"593fb5af.ec311c","name":"Clear Slots","info":"","x":100,"y":960,"wires":[]},{"id":"474156e4.518c28","type":"function","z":"593fb5af.ec311c","name":"Check flow vars","func":"msg.payload = { \n    name: flow.get(\"name\"),\n    code: flow.get(\"code\"),\n    code_enabled: flow.get(\"code_enabled\"),\n    onetime: flow.get(\"onetime\"),\n    allow_when_home: flow.get(\"allow_when_home\"),\n    set_start: flow.get(\"set_start\"),\n    set_end: flow.get(\"set_end\"),\n    start_date: flow.get(\"start_date\"),\n    end_date: flow.get(\"end_date\"),\n    schedule: flow.get(\"schedule\"),\n    days: flow.get(\"days\"),\n    restrict_hours: flow.get(\"restrict_hours\"),\n    start_time: flow.get(\"start_time\"),\n    end_time: flow.get(\"end_time\"),\n    passcode: global.get(\"passcode\")\n};\nmsg.slots = global.get(\"slots\");\nreturn msg;\n","outputs":1,"noerr":0,"x":260,"y":480,"wires":[["5b967a17.9ab964"]]},{"id":"17ac2375.504cbd","type":"inject","z":"593fb5af.ec311c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["474156e4.518c28"]]},{"id":"5b967a17.9ab964","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":480,"wires":[]},{"id":"9865b0ba.2c3a3","type":"comment","z":"593fb5af.ec311c","name":"Get Flow Vars","info":"","x":90,"y":440,"wires":[]},{"id":"4f291477.e5ab6c","type":"comment","z":"593fb5af.ec311c","name":"### Clear all lock codes ###","info":"","x":140,"y":220,"wires":[]},{"id":"9e459692.746e38","type":"comment","z":"593fb5af.ec311c","name":"### Get all lock codes ###","info":"","x":130,"y":100,"wires":[]},{"id":"cc70363a.6d4858","type":"function","z":"593fb5af.ec311c","name":"build msg","func":"msg.payload = \"Please check Home Assistant log for output.\";\nreturn msg;\n","outputs":1,"noerr":0,"x":1300,"y":200,"wires":[["1ccd6a9e.d4f8c5"]]},{"id":"1ccd6a9e.d4f8c5","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":200,"wires":[]},{"id":"63051968.0d5618","type":"join","z":"593fb5af.ec311c","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1150,"y":200,"wires":[["cc70363a.6d4858"]]},{"id":"3420c668.c2d8ba","type":"inject","z":"593fb5af.ec311c","name":"Delete stored passcode","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":480,"wires":[["20fe4ee0.df0332"]]},{"id":"20fe4ee0.df0332","type":"change","z":"593fb5af.ec311c","name":"Delete passcode","rules":[{"t":"set","p":"passcode","pt":"global","to":"","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":480,"wires":[[]]},{"id":"9b430f1f.9fd8e","type":"comment","z":"593fb5af.ec311c","name":"Delete global passcode","info":"","x":700,"y":440,"wires":[]},{"id":"c6663354.daeec","type":"function","z":"702e3f6b.43278","name":"process notification","func":"var _ = context.global.lodash;\nvar moment = context.global.moment;\n\nnode.status({ fill: \"blue\", shape:\"dot\", text: `Last notification at ${ moment().format('MMM D h:mm a') }` } );\n\nconst notify_devices = global.get(\"notify_devices\");\n\nconst data = { \n    message: msg.payload.status, \n    title: `Door ${msg.payload.state}`\n}; \n\nif (_.isEmpty(notify_devices)) {\n    msg.payload = {\n        data: data\n    };\n    \n    return [null, msg];\n}\n\nmsg.payload = notify_devices;\nmsg.data = data;\n\nreturn msg;","outputs":2,"noerr":0,"x":310,"y":80,"wires":[["68317eff.be435","f07711f9.2b416"],["7e73b11d.d2189","f07711f9.2b416"]]},{"id":"41e93222.8a3e9c","type":"link out","z":"eebb6675.799d48","name":"Call Lock Notifications","links":["fce4b1f8.13e8a"],"x":895,"y":140,"wires":[]},{"id":"1e222539.05dcfb","type":"link out","z":"eebb6675.799d48","name":"Call Bad Code Notification","links":["b52e856f.4ddff8"],"x":895,"y":220,"wires":[]},{"id":"454a9324.e77fec","type":"switch","z":"59474d53.1b40d4","name":"Check logging conditions","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"Door locked with code","vt":"str"},{"t":"eq","v":"Door unlocked with code","vt":"str"},{"t":"eq","v":"Door manually locked","vt":"str"},{"t":"eq","v":"Door manually unlocked","vt":"str"},{"t":"eq","v":"User created","vt":"str"},{"t":"eq","v":"User updated","vt":"str"},{"t":"eq","v":"User deleted","vt":"str"},{"t":"eq","v":"Scheduled activity","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":310,"y":200,"wires":[["d531314.fe4a9d"],["99868de3.786ee"],["e15c883e.35f0b8"],["60fd60d1.eeae7"],["b017be10.c1f99"],["19aa38e3.c2c7a7"],["cb188718.24c858"],["8854c634.8a7ae8"]]},{"id":"e15c883e.35f0b8","type":"switch","z":"59474d53.1b40d4","name":"Loging flag (manual lock)","property":"log_manual_lock","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":140,"wires":[["9ce2b965.515558"]]},{"id":"60fd60d1.eeae7","type":"switch","z":"59474d53.1b40d4","name":"Loging flag (manual unlock)","property":"log_manual_unlock","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":180,"wires":[["ea811994.f4ce78"]]},{"id":"b017be10.c1f99","type":"switch","z":"59474d53.1b40d4","name":"Loging flag (user created)","property":"log_user_created","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":220,"wires":[["983abddd.1a118"]]},{"id":"19aa38e3.c2c7a7","type":"switch","z":"59474d53.1b40d4","name":"Loging flag (user updated)","property":"log_user_updated","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":260,"wires":[["b7cf878b.3065e8"]]},{"id":"cb188718.24c858","type":"switch","z":"59474d53.1b40d4","name":"Loging flag (user deleted)","property":"log_user_deleted","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":300,"wires":[["ff7ac1a1.205d8"]]},{"id":"8854c634.8a7ae8","type":"switch","z":"59474d53.1b40d4","name":"Loging flag (scheduled activity)","property":"log_scheduled_activity","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":340,"wires":[["ea551f45.d6a4f"]]},{"id":"b105ec94.c49e9","type":"mongodb3 in","z":"59474d53.1b40d4","service":"_ext_","configNode":"9b97ee84.83a28","name":"Log Event","collection":"LockLog","operation":"insertOne","x":1120,"y":220,"wires":[["3138c752.aab248"]]},{"id":"d531314.fe4a9d","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":535,"y":60,"wires":[]},{"id":"15936e4a.25dc32","type":"link in","z":"59474d53.1b40d4","name":"Write Log","links":["d531314.fe4a9d","99868de3.786ee","9ce2b965.515558","ea811994.f4ce78","983abddd.1a118","b7cf878b.3065e8","ff7ac1a1.205d8","ea551f45.d6a4f"],"x":1015,"y":220,"wires":[["b105ec94.c49e9"]]},{"id":"99868de3.786ee","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":535,"y":100,"wires":[]},{"id":"9ce2b965.515558","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":835,"y":140,"wires":[]},{"id":"ea811994.f4ce78","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":835,"y":180,"wires":[]},{"id":"983abddd.1a118","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":835,"y":220,"wires":[]},{"id":"b7cf878b.3065e8","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":835,"y":260,"wires":[]},{"id":"ff7ac1a1.205d8","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":835,"y":300,"wires":[]},{"id":"ea551f45.d6a4f","type":"link out","z":"59474d53.1b40d4","name":"Call Write Log","links":["15936e4a.25dc32"],"x":835,"y":340,"wires":[]},{"id":"ea5c9f94.245b4","type":"link in","z":"59474d53.1b40d4","name":"Logging","links":["e536416a.f931"],"x":95,"y":200,"wires":[["454a9324.e77fec","73b71550.71df0c"]]},{"id":"e536416a.f931","type":"link out","z":"eebb6675.799d48","name":"Call Lock Logging","links":["ea5c9f94.245b4"],"x":895,"y":180,"wires":[]},{"id":"3138c752.aab248","type":"debug","z":"59474d53.1b40d4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1250,"y":220,"wires":[]},{"id":"73b71550.71df0c","type":"function","z":"59474d53.1b40d4","name":"Build log message","func":"var status = msg.data.new_state.attributes.lock_status;\nif (status.indexOf('user') == -1) {\n    // not a user code\n    msg.payload = {\n        state: `Door ${msg.payload}`,\n        type: msg.data.new_state.attributes.notification,\n        status: `Door ${msg.data.new_state.attributes.lock_status}`,\n        time: msg.data.new_state.last_updated\n    };\n    return msg;\n}\n\nconst slots = global.get(\"slots\");\nvar slot = Number(status.substring(status.lastIndexOf(' ') + 1));\n\nconst user = slots.find(u => u.slot === slot);\nif (user === undefined)\n    return [null, { payload: `Door was opened with a code that doesn't have a matching slot ${slot}. Good chance the lock.clear_usercode didn't work which means HA has probably been updated and I need to run the update zwave script` }];\n    \n\nvar m = {};\nm.user = user;\nm.slot = slot;\nm.slots = slots;\nm.status = msg.payload,\nm.payload = {\n    state: `Door ${msg.payload}`,\n    type: msg.data.new_state.attributes.notification,\n    og_status: msg.data.new_state.attributes.lock_status,\n    status: `${status.substring(0, status.indexOf('user') -  4)} by ${user.name}`,\n    time: msg.data.new_state.last_updated\n};\n\nreturn m;","outputs":2,"noerr":0,"x":770,"y":460,"wires":[["4a6d913e.7bea7"],["65157b1d.1048f4"]]},{"id":"4a6d913e.7bea7","type":"debug","z":"59474d53.1b40d4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":440,"wires":[]},{"id":"65157b1d.1048f4","type":"debug","z":"59474d53.1b40d4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":480,"wires":[]},{"id":"1a035e3c.9a6552","type":"function","z":"e037ddc.bbf4a2","name":"","func":"msg.key = flow.get(\"encryption_key\");\nconst nacl = context.global.tweetnacl;\nconst nacl_util = context.global.tweetnacl_util;\nmsg.nacl = nacl;\nmsg.util = nacl_util;\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["58611042.92d8e"]]},{"id":"3ff8612b.2aaa1e","type":"inject","z":"e037ddc.bbf4a2","name":"","topic":"","payload":"I am a fuzzy bear","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":280,"wires":[["ab5dcde8.dad06"]]},{"id":"58611042.92d8e","type":"function","z":"e037ddc.bbf4a2","name":"","func":"// Import the global Crypto-js module defined on Node-Red settings.js file\nvar cryptojs = context.global.cryptojs;\n\n// Encrypt\nvar ciphertext = cryptojs.AES.encrypt(msg.payload, msg.key);\n \n// Decrypt\nvar bytes  = cryptojs.AES.decrypt(ciphertext.toString(), msg.key);\nvar plaintext = bytes.toString(cryptojs.enc.Utf8);\n\nmsg.ciphertext = ciphertext;\nmsg.plaintext = plaintext;\nreturn msg;\n\n// Move data to base64\nvar bdata = new Buffer(msg.payload).toString('base64');\n\n// Encrypt the data with the device key.\nvar ciphertext = cryptojs.AES.encrypt(bdata, msg.key );\n\n// The payload is now the encrypted data\nmsg.payload = ciphertext.toString();\n\nconst cleartext = cryptojs.AES.decrypt(msg.apyload, msg.key);\nmsg.cleartext = cleartext;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":480,"wires":[[]]},{"id":"a47a5cff.02739","type":"debug","z":"e037ddc.bbf4a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":600,"wires":[]},{"id":"b9498340.ed136","type":"debug","z":"e037ddc.bbf4a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":280,"wires":[]},{"id":"c61c95b0.05a298","type":"switch","z":"bae968bd.7a3cb8","name":"Use encryption?","property":"use_encryption","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":60,"wires":[["f392ddb1.dae4e"],[]]},{"id":"f392ddb1.dae4e","type":"function","z":"bae968bd.7a3cb8","name":"Encrypt","func":"var cryptojs = context.global.cryptojs;\n\nconst salt = global.get(\"encryption_key\");\n// Encrypt\nvar ciphertext = cryptojs.AES.encrypt(msg.payload, salt);\n\nmsg.payload = ciphertext;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":20,"wires":[[]]},{"id":"ab5dcde8.dad06","type":"subflow:bae968bd.7a3cb8","z":"e037ddc.bbf4a2","x":510,"y":280,"wires":[["b9498340.ed136"]]},{"id":"27f0a7b9.2a1878","type":"switch","z":"e037ddc.bbf4a2","name":"Use encryption?","property":"use_encryption","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":680,"y":600,"wires":[["a3ece95c.743448"],[]]},{"id":"a3ece95c.743448","type":"function","z":"e037ddc.bbf4a2","name":"Encrypt","func":"var cryptojs = context.global.cryptojs;\n\nconst salt = flow.get(\"encryption_key\");\n// Encrypt\nvar ciphertext = cryptojs.AES.encrypt(msg.payload, salt);\n\nmsg.payload = ciphertext;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":600,"wires":[["a47a5cff.02739"]]},{"id":"8c1bca1e.b71368","type":"switch","z":"43717449.df2fbc","name":"Use encryption?","property":"use_encryption","propertyType":"global","rules":[{"t":"true"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":80,"wires":[["c2747add.afb318"],[]]},{"id":"c2747add.afb318","type":"function","z":"43717449.df2fbc","name":"decrypt","func":"var cryptojs = context.global.cryptojs;\n\nconst salt = global.get(\"encryption_key\");\n\n// Decrypt\nvar bytes  = cryptojs.AES.decrypt(msg.payload.toString(), salt);\nvar plaintext = bytes.toString(cryptojs.enc.Utf8);\n\nmsg.payload = plaintext;\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":40,"wires":[[]]},{"id":"f0791d4.b6eebe","type":"subflow:43717449.df2fbc","z":"e037ddc.bbf4a2","x":760,"y":480,"wires":[[]]},{"id":"3179a3da.8ead5c","type":"inject","z":"e037ddc.bbf4a2","name":"","topic":"","payload":"I am a fuzzy bear","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":500,"y":600,"wires":[["27f0a7b9.2a1878"]]},{"id":"6fd3e4d8.4e958c","type":"function","z":"eebb6675.799d48","name":"Get slot user","func":"var status = msg.data.new_state.attributes.lock_status;\nif (status.indexOf('user') == -1) {\n    // not a user code\n    try {\n        msg.payload = {\n            state: `Door ${msg.payload}`,\n            type: msg.data.new_state.attributes.notification,\n            status: `Door ${msg.data.new_state.attributes.lock_status}`,\n            time: msg.data.new_state.last_updated\n        };\n    } catch(e) {\n        msg.error = e;\n    }\n    return [null, msg];\n}\n\nconst slots = global.get(\"slots\");\nvar slot = Number(status.substring(status.lastIndexOf(' ') + 1));\n\nconst user = slots.find(u => u.slot === slot);\nif (user === undefined)\n    return [null, null, { payload: `Door was opened with a code that doesn't have a matching slot ${slot}. Good chance the lock.clear_usercode didn't work which means HA has probably been updated and I need to run the update zwave script` }];\n    \ntry {\n    var m = {};\n    m.user = user;\n    m.slot = slot;\n    m.slots = slots;\n    m.status = msg.payload,\n    m.payload = {\n        state: `Door ${msg.payload}`,\n        type: msg.data.new_state.attributes.notification,\n        og_status: msg.data.new_state.attributes.lock_status,\n        status: `${status.substring(0, status.indexOf('user') -  4)} by ${user.name}`,\n        time: msg.data.new_state.last_updated\n    };\n} catch(e) {\n    m.error = e;\n}\nreturn m;","outputs":3,"noerr":0,"x":590,"y":540,"wires":[["57c561d0.8c255"],["b07ade16.dc8c2"],["ecf961fc.ef857"]]},{"id":"314d32c8.cbfc0e","type":"inject","z":"eebb6675.799d48","name":"unlock","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":255,"y":540,"wires":[["5fc94a2a.228364"]],"l":false},{"id":"57c561d0.8c255","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":500,"wires":[]},{"id":"ecf961fc.ef857","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":580,"wires":[]},{"id":"b07ade16.dc8c2","type":"debug","z":"eebb6675.799d48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":540,"wires":[]},{"id":"9d1de36d.8b86","type":"switch","z":"4d149fd1.afec5","name":"Payload exists?","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"eq","v":"","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1100,"y":360,"wires":[["a341f4d7.35dc78"],["86dde220.24bad"]]},{"id":"86dde220.24bad","type":"link out","z":"4d149fd1.afec5","name":"Contine to add codes to lock (skip join)","links":["19152843.f8db48"],"x":1235,"y":380,"wires":[]},{"id":"19152843.f8db48","type":"link in","z":"4d149fd1.afec5","name":"Add Codes to lock (skip join)","links":["86dde220.24bad","78c397c4.e2df98"],"x":155,"y":560,"wires":[["c7dfe967.e46628"]]},{"id":"5fc94a2a.228364","type":"function","z":"eebb6675.799d48","name":"","func":"const m = {\n    \"topic\": \"lock.lock_front_door_lock\",\n    \"payload\": \"locked\",\n    \"data\": {\n        \"entity_id\": \"lock.lock_front_door_lock\",\n        \"old_state\": {\n            \"entity_id\": \"lock.lock_front_door_lock\",\n            \"state\": \"unlocked\",\n            \"attributes\": {\n                \"node_id\": 26,\n                \"value_index\": 0,\n                \"value_instance\": 1,\n                \"value_id\": \"72057594479935488\",\n                \"notification\": \"Manual Unlock\",\n                \"lock_status\": \"Manually Unlocked \",\n                \"friendly_name\": \"Front Door Lock\"\n            },\n            \"last_changed\": \"2019-07-29T11:47:43.407196+00:00\",\n            \"last_updated\": \"2019-07-29T11:47:43.407196+00:00\",\n            \"context\": {\n                \"id\": \"397f610755bf437289fc5433067d5d62\",\n                \"parent_id\": null,\n                \"user_id\": null\n            }\n        },\n        \"new_state\": {\n            \"entity_id\": \"lock.lock_front_door_lock\",\n            \"state\": \"locked\",\n            \"attributes\": {\n                \"node_id\": 26,\n                \"value_index\": 0,\n                \"value_instance\": 1,\n                \"value_id\": \"72057594479935488\",\n                \"notification\": \"Keypad Lock\",\n                \"lock_status\": \"Locked with Keypad by user 0\",\n                \"friendly_name\": \"Front Door Lock\"\n            },\n            \"last_changed\": \"2019-07-29T11:47:51.113653+00:00\",\n            \"last_updated\": \"2019-07-29T11:47:51.113653+00:00\",\n            \"context\": {\n                \"id\": \"ae0000eb5f874dc5a1d6374e8f021beb\",\n                \"parent_id\": null,\n                \"user_id\": null\n            },\n            \"timeSinceChangedMs\": 72\n        }\n    },\n    \"_msgid\": \"2637b2ac.55dd9e\"\n}\nreturn m;","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["6fd3e4d8.4e958c"]]},{"id":"95b6f8ec.52cc88","type":"api-call-service","z":"702e3f6b.43278","name":"Notify - Device","server":"349447fb.a8b908","version":1,"service_domain":"","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":200,"wires":[["5a14bb8e.1f14a4"]]},{"id":"68317eff.be435","type":"split","z":"702e3f6b.43278","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":200,"wires":[["60045692.cb90a8"]]},{"id":"60045692.cb90a8","type":"function","z":"702e3f6b.43278","name":"Build service payload","func":"const item = msg.payload.split('.');\nmsg.payload = {\n    domain: item[0],\n    service: item[1],\n    data: msg.data\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":200,"wires":[["95b6f8ec.52cc88"]]},{"id":"5a14bb8e.1f14a4","type":"join","z":"702e3f6b.43278","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1050,"y":200,"wires":[[]]},{"id":"7e73b11d.d2189","type":"api-call-service","z":"702e3f6b.43278","name":"Notify - All","server":"349447fb.a8b908","version":1,"service_domain":"notify","service":"notify","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":240,"wires":[[]]},{"id":"fce4b1f8.13e8a","type":"link in","z":"702e3f6b.43278","name":"Lock Notifications","links":["41e93222.8a3e9c"],"x":175,"y":80,"wires":[["c6663354.daeec"]]},{"id":"6e78e1db.e7be7","type":"function","z":"4c9161c6.7a8fe","name":"Check flow vars","func":"msg.payload = { \n    name: flow.get(\"name\"),\n    code: flow.get(\"code\"),\n    code_enabled: flow.get(\"code_enabled\"),\n    onetime: flow.get(\"onetime\"),\n    allow_when_home: flow.get(\"allow_when_home\"),\n    set_start: flow.get(\"set_start\"),\n    set_end: flow.get(\"set_end\"),\n    start_date: flow.get(\"start_date\"),\n    end_date: flow.get(\"end_date\"),\n    schedule: flow.get(\"schedule\"),\n    days: flow.get(\"days\"),\n    restrict_hours: flow.get(\"restrict_hours\"),\n    start_time: flow.get(\"start_time\"),\n    end_time: flow.get(\"end_time\"),\n    passcode: global.get(\"passcode\")\n};\nmsg.slots = global.get(\"slots\");\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":1900,"wires":[["99e36390.2fa29"]]},{"id":"307f6fa3.c953","type":"inject","z":"4c9161c6.7a8fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1900,"wires":[["6e78e1db.e7be7"]]},{"id":"99e36390.2fa29","type":"debug","z":"4c9161c6.7a8fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":1900,"wires":[]},{"id":"bfb6ee2c.95b6e","type":"comment","z":"4c9161c6.7a8fe","name":"Get Flow Vars","info":"","x":150,"y":1860,"wires":[]},{"id":"b0b1ff04.ffee3","type":"inject","z":"593fb5af.ec311c","name":"Fetch","topic":"","payload":"{\"slot\": 9}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":680,"wires":[["83bf703e.3968"]]},{"id":"83bf703e.3968","type":"mongodb3 in","z":"593fb5af.ec311c","service":"_ext_","configNode":"7fbc5f5e.d45f6","name":"Delete","collection":"LockSlots","operation":"deleteOne","x":850,"y":680,"wires":[["79f1dc96.84a234"]]},{"id":"79f1dc96.84a234","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":680,"wires":[]},{"id":"8c417e6.0cc8c8","type":"comment","z":"593fb5af.ec311c","name":"Delete by _id","info":"","x":730,"y":640,"wires":[]},{"id":"168bdfd.2d7ad2","type":"inject","z":"593fb5af.ec311c","name":"Fetch","topic":"","payload":"{\"name\": \"test\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":780,"wires":[["fdb01b61.1e4708"]]},{"id":"fdb01b61.1e4708","type":"mongodb3 in","z":"593fb5af.ec311c","service":"_ext_","configNode":"7fbc5f5e.d45f6","name":"Find","collection":"LockManager","operation":"findOneAndDelete","x":850,"y":780,"wires":[["c7eba276.9f09d"]]},{"id":"c7eba276.9f09d","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":780,"wires":[]},{"id":"e78e53bb.c4611","type":"comment","z":"593fb5af.ec311c","name":"Get by _id","info":"","x":720,"y":740,"wires":[]},{"id":"65b5595d.a95258","type":"function","z":"4c9161c6.7a8fe","name":"Format Date","func":"var moment = context.global.moment;\n\nmsg.payload = moment(msg.payload).format('M/D/YY')\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":860,"wires":[["e305175c.d07a58"]]},{"id":"b5cb2277.59a4c","type":"function","z":"4c9161c6.7a8fe","name":"Format Date","func":"var moment = context.global.moment;\n\nmsg.payload = moment(msg.payload).format('M/D/YY')\nreturn msg;\n","outputs":1,"noerr":0,"x":1010,"y":900,"wires":[["b625e4f0.7018f8"]]},{"id":"e4f083b.178098","type":"comment","z":"702e3f6b.43278","name":"Lock/unlock activities","info":"","x":260,"y":40,"wires":[]},{"id":"1f914ffa.6dd24","type":"function","z":"702e3f6b.43278","name":"process notification","func":"var _ = context.global.lodash;\nvar moment = context.global.moment;\n\nnode.status({ fill: \"blue\", shape:\"dot\", text: `Last notification at ${ moment().format('MMM D h:mm a') }` } );\n\nconst notify_devices = global.get(\"notify_devices\");\nconst action = global.get(\"user_type\");\n\nconst data = { \n    message: `${msg.name} [${msg.code}] was ${action.toLowerCase()}`, \n    title: `Lock Manager - User ${action}`\n}; \n\nif (_.isEmpty(notify_devices)) {\n    msg.payload = {\n        data: data\n    };\n    \n    return [null, msg];\n}\n\nmsg.payload = notify_devices;\nmsg.data = data;\n\nreturn msg;","outputs":2,"noerr":0,"x":310,"y":220,"wires":[["68317eff.be435","874e682d.394508"],["7e73b11d.d2189","874e682d.394508"]]},{"id":"f1548826.e64d88","type":"link in","z":"702e3f6b.43278","name":"User Notifications","links":["94b5224b.84b76","ac5b99d.dfb3468"],"x":175,"y":220,"wires":[["1f914ffa.6dd24","5e15793a.918e28"]]},{"id":"a7cb2b36.be6478","type":"comment","z":"702e3f6b.43278","name":"Create/update/delete user","info":"","x":270,"y":180,"wires":[]},{"id":"edbf0f57.63be8","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1550,"y":520,"wires":[]},{"id":"a4750984.5bc488","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":100,"wires":[]},{"id":"bf7c6db7.52758","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":100,"wires":[]},{"id":"1a706603.d7aeca","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":100,"wires":[]},{"id":"618dee7d.bb826","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":80,"wires":[]},{"id":"1e5f2676.258c2a","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":200,"wires":[]},{"id":"94b5224b.84b76","type":"link out","z":"4c9161c6.7a8fe","name":"Call user notification","links":["f1548826.e64d88"],"x":1035,"y":1420,"wires":[]},{"id":"ac5b99d.dfb3468","type":"link out","z":"4c9161c6.7a8fe","name":"Call user notification","links":["f1548826.e64d88"],"x":1055,"y":1580,"wires":[]},{"id":"6a5a542f.be06ec","type":"function","z":"702e3f6b.43278","name":"process notification","func":"var _ = context.global.lodash;\nvar moment = context.global.moment;\n\nnode.status({ fill: \"blue\", shape:\"dot\", text: `Last notification at ${ moment().format('MMM D h:mm a') }` } );\n\nconst notify_devices = global.get(\"notify_devices\");\n\nconst data = { \n    message: `${msg.name} was ${msg.action.toLowerCase()} at ${ moment().format('MMM D h:mm a') }`, \n    title: `Lock Manager - Lock usercode ${msg.action}`\n}; \n\nif (_.isEmpty(notify_devices)) {\n    msg.payload = {\n        data: data\n    };\n    \n    return [null, msg];\n}\n\nmsg.payload = notify_devices;\nmsg.data = data;\n\nreturn msg;","outputs":2,"noerr":0,"x":310,"y":380,"wires":[["68317eff.be435","8d469f2f.33701"],["7e73b11d.d2189","8d469f2f.33701"]]},{"id":"89cbdfdc.370cf","type":"link in","z":"702e3f6b.43278","name":"Scheduled Notifications","links":["14a324c4.b06f6b","8c56cbe4.ecdf98"],"x":175,"y":380,"wires":[["6a5a542f.be06ec","2864c11b.3f999e"]]},{"id":"b9de9ab4.e4e2b8","type":"comment","z":"702e3f6b.43278","name":"scheduled activities","info":"","x":250,"y":320,"wires":[]},{"id":"14a324c4.b06f6b","type":"link out","z":"4d149fd1.afec5","name":"Call scheduled notification (disable)","links":["89cbdfdc.370cf"],"x":1635,"y":340,"wires":[]},{"id":"8c56cbe4.ecdf98","type":"link out","z":"4d149fd1.afec5","name":"Call scheduled notification (enable)","links":["89cbdfdc.370cf"],"x":1255,"y":520,"wires":[]},{"id":"beacf3e2.50575","type":"comment","z":"4d149fd1.afec5","name":"Create scheduled codes","info":"","x":130,"y":480,"wires":[]},{"id":"ab7c8577.1aad18","type":"comment","z":"4d149fd1.afec5","name":"Set global slots","info":"","x":100,"y":620,"wires":[]},{"id":"b437ead4.9053f8","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":320,"wires":[]},{"id":"a5bad989.fe39f8","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1730,"y":340,"wires":[]},{"id":"503cb842.650388","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1390,"y":280,"wires":[]},{"id":"a33c6b60.ddf6a8","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1370,"y":520,"wires":[]},{"id":"8f6bebe2.b17dd8","type":"change","z":"4d149fd1.afec5","name":"set visible","rules":[{"t":"set","p":"keypad_displayed","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":80,"wires":[[]]},{"id":"17614d71.fabd73","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":580,"wires":[]},{"id":"6885d866.a7dae8","type":"inject","z":"593fb5af.ec311c","name":"Fetch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":960,"wires":[["8ce0f7ef.d63848"]]},{"id":"5e8b46ff.92d2e8","type":"mongodb3 in","z":"4c9161c6.7a8fe","service":"_ext_","configNode":"7fbc5f5e.d45f6","name":"Get User Slot","collection":"LockSlots","operation":"findOne","x":620,"y":1620,"wires":[["c7bc435a.24b21"]]},{"id":"8ce0f7ef.d63848","type":"function","z":"593fb5af.ec311c","name":"","func":"var code = '0046';\nvar name = 'Kristen'\n\nvar user = { payload: [\n    {\n        \"code\": code, \n        \"name\": name\n    },\n    {}\n]};\nvar slot = { payload: {\"name\": name } };\n\nreturn [user, slot];","outputs":2,"noerr":0,"x":850,"y":960,"wires":[["9a97e3a9.d2b5f"],["88dceb56.551518"]]},{"id":"9a97e3a9.d2b5f","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":920,"wires":[]},{"id":"88dceb56.551518","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1010,"y":980,"wires":[]},{"id":"7a366aaf.97a764","type":"function","z":"593fb5af.ec311c","name":"","func":"var code = '0046';\nvar name = 'Kristen'\nvar user_query = [\n    {\n        \"code\": code, \n        \"name\": name\n    },\n    {}\n];\nvar user = {};\nuser.payload = user_query;\n\nvar slot_query = { \"name\": name };\nvar slot = {};\nslot.payload = slot_query;\n\nreturn [user, slot];","outputs":2,"noerr":0,"x":870,"y":1000,"wires":[[],[]]},{"id":"c7bc435a.24b21","type":"function","z":"4c9161c6.7a8fe","name":"Slot found","func":"const _ = context.global.lodash;\n\nif (!_.isEmpty(msg.payload)) {\n    node.status({ fill: \"blue\", shape: \"dot\", text: \"continuing\" });\n    return msg;\n} else {\n    node.status({ fill: \"green\", shape: \"dot\", text: \"stopping\" });\n}","outputs":1,"noerr":0,"x":780,"y":1620,"wires":[["8e28663.dc5dc98"]]},{"id":"1e8dc5a4.2aa74a","type":"mongodb3 in","z":"4c9161c6.7a8fe","service":"_ext_","configNode":"9b97ee84.83a28","name":"Delete Slot","collection":"LockSlots","operation":"deleteOne","x":1230,"y":1600,"wires":[[]]},{"id":"84866d38.50571","type":"api-call-service","z":"4c9161c6.7a8fe","name":"Clear Lock Code","server":"21e39bfe.4a1524","version":"1","service_domain":"lock","service":"clear_usercode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":1660,"wires":[[]]},{"id":"8e28663.dc5dc98","type":"function","z":"4c9161c6.7a8fe","name":"Delete lock code and slot user","func":"const slot = { \n    payload: [\n        {\n            slot: msg.payload.slot,\n            name: msg.payload.name\n        },\n        {}\n    ]\n};\nconst lock = { \n    payload: { \n        data: \n            { node_id: global.get(\"lock_node_id\"),\n            code_slot: msg.payload.slot\n        }\n    }\n};\nreturn [slot, lock];\n","outputs":2,"noerr":0,"x":990,"y":1620,"wires":[["1e8dc5a4.2aa74a"],["84866d38.50571"]]},{"id":"7a21a181.7db3e","type":"link out","z":"4c9161c6.7a8fe","name":"Call process schedule","links":["c8def847.0aa908","347ea345.f8f51c"],"x":1195,"y":1420,"wires":[]},{"id":"289932d4.e3468e","type":"function","z":"4d149fd1.afec5","name":"Empty payload","func":"\nreturn {};","outputs":1,"noerr":0,"x":240,"y":360,"wires":[["ecf178ba.1d02b8"]]},{"id":"347ea345.f8f51c","type":"link in","z":"4d149fd1.afec5","name":"Process schedule","links":["7a21a181.7db3e"],"x":235,"y":560,"wires":[["989f53d0.42f7c","620db10d.2497"]]},{"id":"7f023add.769f94","type":"change","z":"4d149fd1.afec5","name":"","rules":[{"t":"set","p":"payload.name","pt":"msg","to":"name","tot":"flow"},{"t":"set","p":"payload.code","pt":"msg","to":"code","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1080,"wires":[["4437b94c.50fb18"]]},{"id":"91956faf.c57b1","type":"inject","z":"4d149fd1.afec5","name":"","topic":"","payload":"{ \"name\": \"ted\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":480,"y":1080,"wires":[["7f023add.769f94","a4ec4991.928bb8"]]},{"id":"a4ec4991.928bb8","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":1040,"wires":[]},{"id":"4437b94c.50fb18","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":1080,"wires":[]},{"id":"3fc99913.f0c286","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":320,"wires":[]},{"id":"c1028ab5.ffc0b8","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":580,"wires":[]},{"id":"989f53d0.42f7c","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":600,"wires":[]},{"id":"620db10d.2497","type":"mongodb3 in","z":"4d149fd1.afec5","service":"_ext_","configNode":"9b97ee84.83a28","name":"Get Slots","collection":"LockSlots","operation":"find.toArray","x":340,"y":560,"wires":[["7ec333b3.1f909c"]]},{"id":"7ec333b3.1f909c","type":"change","z":"4d149fd1.afec5","name":"Create payload","rules":[{"t":"move","p":"payload","pt":"msg","to":"slots","tot":"msg"},{"t":"move","p":"name","pt":"msg","to":"payload.name","tot":"msg"},{"t":"move","p":"code","pt":"msg","to":"payload.code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":580,"wires":[["dee1eccb.af7ac","c1028ab5.ffc0b8"]]},{"id":"5232834b.a46e7c","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":480,"wires":[]},{"id":"a97900ea.587de","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":810,"y":480,"wires":[]},{"id":"c660d93d.f83668","type":"debug","z":"4d149fd1.afec5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":480,"wires":[]},{"id":"558a0497.1754bc","type":"inject","z":"4d149fd1.afec5","name":"","topic":"","payload":"{ \"name\": \"Fred\" }","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":1200,"wires":[["66b3fe5.cfa74"]]},{"id":"2912705b.99da5","type":"mongodb3 in","z":"85b5cbfc.b785c8","service":"_ext_","configNode":"9b97ee84.83a28","name":"Get Slots","collection":"LockSlots","operation":"find.toArray","x":360,"y":80,"wires":[["e2b11f71.91bbe"]]},{"id":"418b6a73.7ec234","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":1140,"wires":[]},{"id":"ad5f130e.364db","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1230,"y":1200,"wires":[]},{"id":"e2b11f71.91bbe","type":"function","z":"85b5cbfc.b785c8","name":"Usable Slots","func":"// This generates a list of possible slots and the next slot. Index is 0-based and slots start\n// at 1 so it needs to offset 1 to account for that. If the slot_offset var\n// is set then that's added to get the true starting slot\n// and slots need to start with 1 AND the first slot is our main code that isn't\n// a part of this.\nconst _ = context.global.lodash;\n\nconst offset = global.get(\"slot_offset\") + 1;\nconst allSlots = Array.from({length: 31 - offset}, (v, k) => k + offset);\n\nconst usedSlots = _.map(global.get(\"slots\"), 'slot');\n\nconst difference = _.difference(allSlots, usedSlots);\n\nconst nextSlot = _.head(difference);\n\nmsg.unusedSlots = difference;\nmsg.nextSlot = nextSlot;\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["4d9d608.3b016a"]]},{"id":"6b35b6b7.e4ae98","type":"change","z":"85b5cbfc.b785c8","name":"Backup payload","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload_bak","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":80,"wires":[["2912705b.99da5"]]},{"id":"4d9d608.3b016a","type":"change","z":"85b5cbfc.b785c8","name":"Restore payload","rules":[{"t":"move","p":"payload_bak","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[[]]},{"id":"66b3fe5.cfa74","type":"subflow:85b5cbfc.b785c8","z":"4d149fd1.afec5","name":"Next Slot","env":[],"x":800,"y":1200,"wires":[["ad5f130e.364db"]]},{"id":"8d469f2f.33701","type":"debug","z":"702e3f6b.43278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":400,"wires":[]},{"id":"874e682d.394508","type":"debug","z":"702e3f6b.43278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":300,"wires":[]},{"id":"f07711f9.2b416","type":"debug","z":"702e3f6b.43278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":80,"wires":[]},{"id":"d796df4b.54cea","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":740,"wires":[]},{"id":"800060ee.083d3","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":130,"y":820,"wires":[]},{"id":"31a542ff.2e6d3e","type":"link out","z":"4d149fd1.afec5","name":"Call disable code","links":["c87c53ff.d7111"],"x":680,"y":780,"wires":[]},{"id":"5e15793a.918e28","type":"debug","z":"702e3f6b.43278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":280,"wires":[]},{"id":"2864c11b.3f999e","type":"debug","z":"702e3f6b.43278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":270,"y":440,"wires":[]},{"id":"601752b5.94feec","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1670,"y":260,"wires":[]},{"id":"afbc5801.048678","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1870,"y":260,"wires":[]},{"id":"ee91fd9a.1ac3e","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2030,"y":260,"wires":[]},{"id":"c87c53ff.d7111","type":"link in","z":"4d149fd1.afec5","name":"Disable code","links":["31a542ff.2e6d3e"],"x":615,"y":320,"wires":[["6dad59f7.447b08"]]},{"id":"797017d.e4bbee8","type":"function","z":"593fb5af.ec311c","name":"Build query","func":"msg.payload =  [  \n    { $and: [{ name: 'Test' }, { onetime: true }] }\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":850,"y":1140,"wires":[["119d8051.3583e"]]},{"id":"119d8051.3583e","type":"mongodb3 in","z":"593fb5af.ec311c","service":"_ext_","configNode":"9b97ee84.83a28","name":"Search for code","collection":"LockManager","operation":"findOne","x":1020,"y":1140,"wires":[["5f942384.2cccec"]]},{"id":"51c60890.473f38","type":"inject","z":"593fb5af.ec311c","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1140,"wires":[["797017d.e4bbee8"]]},{"id":"5f942384.2cccec","type":"debug","z":"593fb5af.ec311c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1200.952392578125,"y":1136.1905517578125,"wires":[]},{"id":"3bf72ab4.e7b8e6","type":"debug","z":"4d149fd1.afec5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":320,"wires":[]}]